<div class="bsp-container{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">

	{{#with aboveColumns}}
		{{#each components}}
			{{render this}}
		{{/each}}
	{{/with}}

	<div class="bsp-row">

		<div class="bsp-column-scrolling">
			{{#with main}}
				{{#each components}}
					{{render this}}
				{{/each}}
			{{/with}}
		</div>

		<div class="bsp-column-fixed-wrap" data-bsp-toggle-item>
			<div class="bsp-column-fixed toggle-item">

				<div class="bsp-trigger-fixed-column toggle-trigger">
					<a class="toggle-trigger-link-out icon icon-angle-up" href="#">{{#if aside.options.openText}}{{this}}{{else}}Open{{/if}}</a>
					<a class="toggle-trigger-link-in  icon icon-angle-down" href="#">{{#if aside.options.closeText}}{{this}}{{else}}Close{{/if}}</a>
				</div>

				{{#with aside}}
					{{#each components}}
						{{render this}}
					{{/each}}
				{{/with}}
			</div>
		</div>

	</div>
</div>
