<div class="bsp-container{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">

    {{#each aboveColumns}}
        {{render this}}
    {{/each}}

	<div class="bsp-row">

		<div class="bsp-column-scrolling">
            {{#each main}}
                {{render this}}
            {{/each}}
		</div>

		<div class="bsp-column-fixed-wrap" data-bsp-toggle-item>
			<div class="bsp-column-fixed toggle-item">

				<div class="bsp-trigger-fixed-column toggle-trigger">
					<a class="toggle-trigger-link-out icon icon-angle-up" href="#">{{#if aside.options.openText}}{{this}}{{else}}Open{{/if}}</a>
					<a class="toggle-trigger-link-in  icon icon-angle-down" href="#">{{#if aside.options.closeText}}{{this}}{{else}}Close{{/if}}</a>
				</div>

                {{#each aside}}
                    {{render this}}
                {{/each}}
			</div>
		</div>

	</div>
</div>
