<article class="ArticleMain" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article"{{extraAttributes}}>

    {{#with datePublished}}
        <meta itemprop="datePublished" content="{{this}}">
    {{/with}}

    {{#with dateModified}}
        <meta itemprop="dateModified" content="{{this}}">
    {{/with}}

    {{#with breadcrumbs}}
        <div class="ArticleMain-breadcrumbs">
            {{this}}
        </div>
    {{/with}}

    {{#with slug}}
        <div class="ArticleMain-slug">
            {{this}}
        </div>
    {{/with}}

    {{#with headline}}
        <div class="ArticleMain-headline" itemprop="headline">
            {{this}}
        </div>
    {{/with}}

    {{#with subHeadline}}
        <div class="ArticleMain-subHeadline" itemprop="alternativeHeadline">
            {{{this}}}
        </div>
    {{/with}}

    {{#with byline}}
        <div class="ArticleMain-byline">
            {{this}}
        </div>
    {{/with}}

    {{#with lead}}
        <div class="ArticleMain-lead">
            {{this}}
        </div>
    {{/with}}

    {{#with body}}
        <div class="ArticleMain-body" itemprop="articleBody">
            {{this}}
        </div>
    {{/with}}

    {{#with tags}}
        <div class="ArticleMain-tags">
            {{this}}
        </div>
    {{/with}}

    {{#each socialSharing}}
        <div class="ArticleMain-socialSharing">
            {{this}}
        </div>
    {{/each}}

    {{#with comments}}
        <div class="ArticleMain-comments">
            {{this}}
        </div>
    {{/with}}

    {{#with relatedContent}}
        <div class="ArticleMain-relatedContent">
            {{this}}
        </div>
    {{/with}}

</article>
