<article class="Article" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article"{{extraAttributes}}>

    {{#with datePublished}}
        <meta itemprop="datePublished" content="{{this}}">
    {{/with}}

    {{#with dateModified}}
        <meta itemprop="dateModified" content="{{this}}">
    {{/with}}

    {{#with breadcrumbs}}
        <div class="Article-breadcrumbs">
            {{this}}
        </div>
    {{/with}}

    {{#with slug}}
        <div class="Article-slug">
            {{this}}
        </div>
    {{/with}}

    {{#with headline}}
        <div class="Article-headline" itemprop="headline">
            {{this}}
        </div>
    {{/with}}

    {{#with subHeadline}}
        <div class="Article-subHeadline" itemprop="alternativeHeadline">
            {{{this}}}
        </div>
    {{/with}}

    {{#with byline}}
        <div class="Article-byline">
            {{this}}
        </div>
    {{/with}}

    {{#with lead}}
        <div class="Article-lead">
            {{this}}
        </div>
    {{/with}}

    {{#with body}}
        <div class="Article-body" itemprop="articleBody">
            {{this}}
        </div>
    {{/with}}

    {{#with tags}}
        <div class="Article-tags">
            {{this}}
        </div>
    {{/with}}

    {{#each socialSharing}}
        <div class="Article-socialSharing">
            {{this}}
        </div>
    {{/each}}

    {{#with comments}}
        <div class="Article-comments">
            {{this}}
        </div>
    {{/with}}

    {{#with relatedContent}}
        <div class="Article-relatedContent">
            {{this}}
        </div>
    {{/with}}

</article>
