{{#replace "breadcrumbs"}}
    <div class="ArticleMain-breadcrumbs">{{this}}</div>
{{/replace}}

{{#replace "slug"}}
    <div class="ArticleMain-slug">{{this}}</div>
{{/replace}}

{{#replace "headline"}}
    <div class="ArticleMain-headline" itemprop="headline">{{this}}</div>
{{/replace}}

{{#replace "subHeadline"}}
    <div class="ArticleMain-subHeadline" itemprop="alternativeHeadline">{{this}}</div>
{{/replace}}

{{#replace "byline"}}
    <div class="ArticleMain-byline">{{this}}</div>
{{/replace}}

{{#replace "lead"}}
    <div class="ArticleMain-lead">{{this}}</div>
{{/replace}}

{{#replace "body"}}
    <div class="ArticleMain-body" itemprop="articleBody">{{this}}</div>
{{/replace}}

{{#replace "tags"}}
    <div class="ArticleMain-tags">{{this}}</div>
{{/replace}}

{{#replace "socialSharing"}}
    <div class="ArticleMain-socialSharing">{{this}}</div>
{{/replace}}

{{#replace "comments"}}
    <div class="ArticleMain-comments">{{this}}</div>
{{/replace}}

{{#replace "relatedContent"}}
    <div class="ArticleMain-relatedContent">{{this}}</div>
{{/replace}}

<article class="ArticleMain" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article"{{extraAttributes}}>
    {{#with datePublished}}
        <meta itemprop="datePublished" content="{{this}}">
    {{/with}}

    {{#with dateModified}}
        <meta itemprop="dateModified" content="{{this}}">
    {{/with}}

    {{#overridable}}
        {{breadcrumbs}}
        {{slug}}
        {{headline}}
        {{subHeadline}}
        {{byline}}
        {{lead}}
        {{body}}
        {{tags}}
        {{socialSharing}}
        {{comments}}
        {{relatedContent}}
    {{/overridable}}
</article>
