{{#defineBlock "CommentSubmit"}}
    {{#defineElement "button"}}
        <button type="button" class="{{elementName}}" {{#if ../ajaxHref}}data-ajax-href="{{../ajaxHref}}"{{/if}}>{{this}}</button>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}"{{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "button"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
