{{#defineBlock "CommentingShowMore"}}
    {{#defineElement "button"}}
        <button type="button" {{#if ../ajaxTarget}}data-ajax-target="{{../ajaxTarget}}"{{/if}} class="{{elementName}}">{{this}}</button>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}"{{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "button"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
