{{#defineBlock "CommentingShowMore"}}
    {{#defineBlockContainer}}
        <div class="{{blockName}}"{{extraAttributes}}>
            {{#defineBlockBody}}
                <button type="button" {{#if ajaxTarget}}data-ajax-target="{{ajaxTarget}}"{{/if}} class="{{blockName}}-button">{{body}}</button>
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
