{{#defineBlock "CommentEntryValidation"}}
    {{#defineElement "serverErrorMessage"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "commentIsBlankMessage"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "commentIsTooLongMessage"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}"{{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "serverErrorMessage"}}
                {{element "commentIsBlankMessage"}}
                {{element "commentIsTooLongMessage"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
