{{#defineBlock "CommentEntry"}}
    {{#defineElement "user"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "headline"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "subheadline"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "input" noWith="true"}}
        <div class="{{elementName}}">{{input}}</div>
    {{/defineElement}}

    {{#defineElement "validation"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "actions"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}"
            {{#if replaceWithResponse}}data-replace-with-response{{/if}}
            {{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "user"}}
                {{element "headline"}}
                {{element "subheadline"}}
                {{element "input"}}
                {{element "validation"}}
                {{element "actions"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
