{{#defineBlock "CommentReplyButton"}}
    {{#defineElement "link"}}
        <div data-ajax-target="{{../ajaxTarget}}" class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defaultBlockBody}}
        <div class="{{blockName}}"{{extraAttributes}}>
            {{element "link"}}
        </div>
    {{/defaultBlockBody}}
{{/defineBlock}}
