{{#defineBlock "CommentingSignIn"}}
    {{#defineElement "headline"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}
    {{#defineElement "services"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    <div class="{{blockName}}"{{extraAttributes}}>
        {{#defaultBlockBody}}
            {{element "headline"}}
            {{element "services"}}
        {{/defaultBlockBody}}
    </div>
{{/defineBlock}}
