{{#defineBlock "CommentSubmitButton"}}
    {{#defaultBlockBody}}
        <div class="{{blockName}}"{{extraAttributes}}>
            <button type="button" class="{{blockName}}-button" {{#if ajaxTarget}}data-ajax-target="{{ajaxTarget}}"{{/if}}>{{body}}</button>
        </div>
    {{/defaultBlockBody}}
{{/defineBlock}}
