{{#defineBlock "CommentingHeader"}}
    {{#defineElement "title"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defaultBlockBody}}
        <div class="{{blockName}}"{{extraAttributes}}>
            {{element "title"}}
        </div>
    {{/defaultBlockBody}}
{{/defineBlock}}
