{{#defineBlock "CommentSubmit"}}
    {{#defineBlockContainer}}
        <div class="{{blockName}}"{{extraAttributes}}>
            {{#defineBlockBody}}
                <button type="button" class="{{blockName}}-button" {{#if ajaxTarget}}data-ajax-target="{{ajaxTarget}}"{{/if}}>{{body}}</button>
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
