<div class="form-select {{#if displayOptions.styledSelect}}styled-select{{/if}}{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">

    {{#if displayOptions.styledSelect}}
    <i class="styled-select-dropdown"></i>
    {{/if}}

    {{#if label}}
        <label {{label}}>
        {{#if labelAfterInput}} {{else}}{{{render labelText}}}{{/if}}
    {{/if}}

    <select{{extraAttributes}}  {{#if autoSubmit}}data-bsp-autosubmit{{/if}}>
        {{#each optionsData}}
            {{render this}}
        {{/each}}
    </select>

    {{#if label}}
        {{#if labelAfterInput}}{{{render labelText}}}{{else}} {{/if}}
        </label>
    {{/if}}

</div>
