<div class="form-input {{#if attributes.type}}form-input-{{attributes.type}}{{/if}}{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">
    {{#if labelAttributes}}
        <label {{render labelAttributes}}>
        {{#if labelAfterInput}} {{else}}{{{render labelText}}}{{/if}}
    {{/if}}

    {{#if displayOptions.isButton}}
        <button {{#if displayOptions.modifierClass}} class="{{displayOptions.modifierClass}}-input"{{/if}} {{render attributes }} {{#if autoSubmit}}data-bsp-autosubmit{{/if}}>{{attributes.value}}</button>
    {{else}}
        <input {{#if displayOptions.modifierClass}} class="{{displayOptions.modifierClass}}-input"{{/if}} {{render attributes }} {{#if autoSubmit}}data-bsp-autosubmit{{/if}} />
    {{/if}}

    {{#if labelAttributes}}
        {{#if labelAfterInput}}{{{render labelText}}}{{else}} {{/if}}
        </label>
    {{/if}}
</div>