<div class="bsp-site-footer">

	<div class="bsp-container">
		<div class="bsp-row">

			<div class="bsp-column-two-thirds">

				<div class="bsp-row">

					<div class="bsp-column-half">

						{{#with firstCol}}
						    <section>
					        	<h5 class="bsp-list-heading">{{heading}}</h5>
					        	
						        <ul class="bsp-unstyled-list">
							        {{#each listItems}}
							            <li>
							            {{#with this.link}}
							                 {{render this}}
							            {{/with}}
							            </li>
							        {{/each}}
						        </ul>
						    </section>
						{{/with}}

					</div>

					<div class="bsp-column-half">

						{{#with secondCol}}
						    <section>
					        	<h5 class="bsp-list-heading">{{heading}}</h5>
					        	
						        <ul class="bsp-unstyled-list">
							        {{#each listItems}}
							            <li>
							            {{#with this.link}}
							                 {{render this}}
							            {{/with}}
							            </li>
							        {{/each}}
						        </ul>
						    </section>
						{{/with}}

					</div>

				</div>

				<div class="bsp-site-copyright">
					{{disclaimer}}
				</div>

			</div>

			<div class="bsp-column-third">

				{{#with thirdCol}}

					{{#if this.sharing}}
						<div class="bsp-component">

							<h5 class="bsp-component-title">{{social}}</h5>

							<div class="bsp-component-content">
								
								<ul class="bsp-share-links">
									{{#each sharing.links}}
										<li class="bsp-{{icon}}-share">{{> common/link linkClass="bsp-share-link"}}</li>
									{{/each}}
								</ul>
								
							</div>

						</div>
					{{/if}}

					{{#with newsletter}}
						{{render this}}
					{{/with}}
				{{/with}}

			</div>
			
		</div>

	</div>
</div>