<div class="bsp-article-wrapper bsp-infinite-load-wrapper{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}" data-bsp-infinite-content>

	<div class="bsp-article bsp-infinite-load-item" data-bsp-infinite-load-item-url="{{permalink}}">

		{{#if sharing}}{{render sharing }}{{/if}}

		<h1 class="bsp-article-title">{{{title}}}</h1>

		{{#if subTitle}}
			<h3 class="bsp-article-subtitle">{{{subTitle}}}</h3>
		{{/if}}

		<div class="bsp-meta-data">
			{{#if authors}}
		  		<div class="bsp-meta-author">By {{#each authors}}{{#unless @first}}, {{/unless}}{{render link}}{{/each}}</div>
			{{/if}}
			{{#if publishDate}}
				<div class="bsp-meta-date">{{publishDate}}</div>
			{{/if}}
		</div>

		{{#with lead}}
		<div class="bsp-article-lead">
			{{render this}}
		</div>
		{{/with}}

		<div class="bsp-article-content">
			{{#each body}}
				{{#if options.enhancement}}
					<div class="bsp-article-enhancement{{#if options.align}} align-{{options.align}}{{/if}}">
						{{render content}}
					</div>
				{{else}}
					{{render content}}
				{{/if}}

			{{/each}}
		</div>

        {{#if tags}}
		<div class="bsp-tags">
            {{#if tagsTitle}}<div class="bsp-tag-list-title">{{render tagsTitle}}</div>{{/if}}
			<ul class="bsp-tag-list">
				{{#each tags}}
					<li>{{render this cssClass="bsp-tag"}}</li>
				{{/each}}
			</ul>
		</div>
        {{/if}}

        {{#with nextArticle}}
            <div class="bsp-article-load-more">
                {{render this cssClass="bsp-infinite-load-trigger"}}
            </div>
        {{/with}}

	</div>

</div>
