{{#if showMessagesAbove}}
	{{> components/bsp-form-message this}}
{{/if}}
<div class="bsp-form-input {{#if attributes.type}}bsp-form-input-{{attributes.type}}{{/if}}">
{{#if label}}
	<label {{labelAttributes}}>
	{{#if labelAfterInput}} {{else}}{{render label}}{{/if}}
{{/if}}
	<input {{render attributes}} {{#if autoSubmit}}data-bsp-autosubmit{{/if}} />
{{#if label}}
	{{#if labelAfterInput}}{{render label}}{{else}} {{/if}}
	</label>
{{/if}}
</div>
{{#if showMessagesBelow}}
	{{> components/bsp-form-message this}}
{{/if}}