<div class="bsp-gallery-grid-wrapper{{#if galleryGridClassName}} {{galleryGridClassName}}{{/if}}{{#if galleryGridThumbs}} showing-grid{{/if}}" data-bsp-gallery-grid data-bsp-gallery-grid-options='{{> common/options options }}'>

    <div class="bsp-component bsp-gallery-embedded bsp-gallery">
        {{#if galleryTitle}}
            <h3 class="bsp-component-title">{{galleryTitle}}</h3>
        {{/if}}

        <div class="bsp-component-content">

            <div class="gallery-module bsp-gallery-grid-gallery{{#if galleryGridThumbs}} bsp-gallery-grid-hidden{{/if}}" {{#unless showImagesAsList}}data-bsp-carousel{{/unless}}>
                {{#each gallerySlides}}
                    {{#unless ../showImagesAsList}}<div class="bsp-carousel-slide">{{/unless}}
                        {{render this}}
                    {{#unless ../showImagesAsList}}</div>{{/unless}}
                {{/each}}
            </div>

            <div class="bsp-gallery-grid {{#unless galleryGridThumbs}} hidden{{/unless}}">
                <div class="bsp-row">
                    <div class="bsp-column-third">
                        {{#with galleryGridThumbs.[0]}}
                            {{render this}}
                        {{/with}}
                        {{#with galleryGridThumbs.[1]}}
                            {{render this}}
                        {{/with}}
                    </div>
                    <div class="bsp-column-third">
                        {{#with galleryGridThumbs.[2]}}
                            {{render this}}
                        {{/with}}
                    </div>
                    <div class="bsp-column-third">
                        {{#with galleryGridThumbs.[3]}}
                            {{render this}}
                        {{/with}}
                        {{#with galleryGridThumbs.[4]}}
                            {{render this}}
                        {{/with}}
                    </div>
                </div>
            </div>

        </div>

    </div>

    {{#if galleryCaption}}
        <div class="bsp-gallery-grid-gallery-caption">{{galleryCaption}}</div>
    {{/if}}
</div>

{{#if galleryGridNextThumbs}}
    {{render galleryGridNextThumbs}}
{{/if}}
