<div class="bsp-component bsp-bio-component{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">

	<div class="bsp-component-content">
		<div class="bsp-bio">

            <div class="bsp-bio-content">
                <div class="visible-xs-block">
                    <h2 class="bsp-bio-title">{{title}}</h2>

                    {{#if subtitles}}
                    <div class="bsp-bio-subtitle">
                        {{#each subtitles}}
                            <h5 class="bsp-bio-sub-text">{{render this}}</h5>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
            </div>

			{{#with image}}
			<div class="bsp-bio-image">
				{{render this}}
			</div>
			{{/with}}

			<div class="bsp-bio-content">
                <div class="hidden-xs">
				    <h2 class="bsp-bio-title">{{title}}</h2>
                </div>

				{{#if subtitles}}
                <div class="hidden-xs">
    				<div class="bsp-bio-subtitle">
    					{{#each subtitles}}
    						<h5 class="bsp-bio-sub-text">{{render this}}</h5>
    					{{/each}}
    				</div>
                </div>
				{{/if}}

				<div class="bsp-bio-text">
					{{{text}}}
				</div>

				{{#if primaryList}}
				<div class="bsp-bio-lists">
					{{!-- This is backwards on purpose so we can create a large primary list when there is no secondary --}}
					{{#if secondaryList}}
						<ul class="bsp-bio-secondary-list">
							{{#each secondaryList}}
								<li><span>{{this.heading}}:</span> {{this.text}}</li>
							{{/each}}
						</ul>
					{{/if}}

					<ul class="bsp-bio-primary-list">
						{{#each primaryList}}
							<li><span>{{this.heading}}:</span> {{this.text}}</li>
						{{/each}}
					</ul>
				</div>
				{{/if}}

				{{#if links}}
				<ul class="bsp-bio-links">
					{{#each links}}
						<li>{{render this}}</li>
					{{/each}}
				</ul>
				{{/if}}
			</div>

			{{#with socialLinks}}
			<div class="bsp-bio-social-links">
				<ul>
					{{#each this}}
						{{!-- no partial helper, as this is custom --}}
						<li><a class="bsp-bio-social-link" {{#with link.attributes}}{{> common/attributes }}{{/with}}><i class="icon icon-{{icon}}"></i>{{link.body.text}}</a></li>
					{{/each}}
				</ul>
			</div>
			{{/with}}

		</div>
	</div>

</div>
