<div class="bsp-component bsp-gallery-module-component{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">
	{{#if galleryTitle}}
		<h3 class="bsp-component-title">{{render galleryTitle}}</h1>
	{{/if}}

	<div class="bsp-component-content">

		<div class="gallery-module gallery-module-{{#if options.carouselDots}}carousel-dots{{/if}}{{#if options.horizontalSlides}}horizontal-slides{{/if}}" data-bsp-carousel data-bsp-carousel-options='{ 
			"theme" : "{{#if options.carouselDots}}carousel-dots{{/if}}", 

			"themeConfig" : { 

				"arrows" : false 

				{{#if options.horizontalSlides}},
					{{#if options.slidesToShow}}
					"slidesToShow" : {{options.slidesToShow.medium}}, 
					"responsive": [
				    {
				      "breakpoint": 768,
				      "settings": {
				        "slidesToShow": {{options.slidesToShow.small}}
				      }
				    }]
				    {{else}}
				    "slidesToShow" : 5, 
					"responsive": [
				    {
				      "breakpoint": 768,
				      "settings": {
				        "slidesToShow": 2
				      }
				    }]
				    {{/if}} 
			    {{/if}} 
			}
		}'>
			{{#gallerySlides}}
				<div class="bsp-carousel-slide">
					{{render this}}
				</div>
			{{/gallerySlides}}
		</div>

	</div>

	{{#with cta}}
		<div class="bsp-component-cta {{#if options.location}}bsp-component-cta-{{options.location}}{{/if}}">
			{{render content}}
		</div>	
	{{/with}}	
</div>