{{#if showMessagesAbove}}
	{{> components/bsp-form-message this}}
{{/if}}
{{#if options}}
	<div class="bsp-form-select">
		{{#if label}}
			<label {{label.attributes}}>
			{{#if labelAfterInput}} {{else}}{{label.text}}{{/if}}
		{{/if}}
			<select {{attributes}} {{#if autoSubmit}}data-bsp-autosubmit{{/if}}>
				{{#each options}}{{this}}{{/each}}
			</select>
		{{#if label}}
			{{#if labelAfterInput}}{{label.text}}{{else}} {{/if}}
			</label>
		{{/if}}
	</div>
{{/if}}
{{#if showMessagesBelow}}
	{{> components/bsp-form-message this}}
{{/if}}
