<div class="bsp-component bsp-list-promo-component{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">
	{{#if heading}}
		<div class="bsp-component-title">{{heading}}</div>
	{{/if}}

	<div class="bsp-component-content">

		<div class="bsp-list-promo">
			<{{#if options.orderedList}}ol{{else}}ul{{/if}} class="bsp-list-promo-list {{#if options.horizontalSplit}}bsp-row{{/if}}">
				{{#each listItems}}
					<li class="{{#if ../options.horizontalSplit}}bsp-column-{{/if}}{{../options.horizontalSplit}} {{#if imgAlign}}image-align-{{/if}}{{imgAlign}}">

						{{#with image}}
							<div class="bsp-list-promo-image">
								{{render this}}
							</div>
						{{/with}}

						<div class="bsp-list-promo-text">
							{{#if tags}}
								<ul class="bsp-list-promo-tags">
									{{#each tags}}
										<li>{{render this}}</li>
									{{/each}}
								</ul>
							{{/if}}

							{{#with title}}
								<div class="bsp-list-promo-title">{{render this}}</div>
							{{/with}}

							{{#if subtitle}}
								<div class="bsp-list-promo-subtitle">{{{subtitle}}}</div>
							{{/if}}
							
							{{#if description}}
								<div class="bsp-list-promo-desc">{{{description}}}</div>
							{{/if}}

							{{#with link}}
								<div class="bsp-list-promo-link">{{render this}}</div>
							{{/with}}
						</div>
					</li>
				{{/each}}
			</{{#if options.orderedList}}ol{{else}}ul{{/if}} >
		</div>

	</div>

	{{#with cta}}
		<div class="bsp-component-cta {{#if options.location}}cta-{{options.location}}{{/if}}">
			{{render content}}
		</div>	
	{{/with}}
</div>