<div class="bsp-component">
	<div class="bsp-pagination">
		<ul>
			{{#with previous}}
				<li class="bsp-pagination-navigate-prev">
                    <a {{#with attributes}}{{this}}{{/with}}><i class="icon icon-angle-left"></i> {{text}}</a>
				</li>
			{{/with}}
			{{#each listItems}}
                {{this}}
			{{/each}}
			{{#with next}}
				<li class="bsp-pagination-navigate-next">
                    <a {{#with attributes}}{{this}}{{/with}}>{{text}} <i class="icon icon-angle-right"></i></a>
				</li>
			{{/with}}
		</ul>
	</div>
</div>
