<div class="bsp-article-wrapper {{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">

	<div class="bsp-article">

		{{#if sharing}}{{render sharing }}{{/if}}

		<h1 class="bsp-article-title">{{title}}</h1>

		{{#if subTitle}}
			<h3 class="bsp-article-subtitle">{{subTitle}}</h3>
		{{/if}}

		<div class="bsp-meta-data">
			{{#if authors}}
		  		<div class="bsp-meta-author">By {{#each authors}}{{#unless @first}}, {{/unless}}{{this}}{{/each}}</div>
			{{/if}}
			{{#if publishDate}}
				<div class="bsp-meta-date">{{publishDate}}</div>
			{{/if}}
		</div>

		{{#with lead}}
		<div class="bsp-article-lead">
			{{render this}}
		</div>
		{{/with}}

		<div class="bsp-article-content">
			{{#each body}}{{this}}{{/each}}
		</div>

        {{#with tags}}
    		{{render this}}
        {{/with}}

        {{#with nextArticle}}
            <div class="bsp-article-load-more">
                {{render this cssClass="bsp-infinite-load-trigger"}}
            </div>
        {{/with}}

	</div>

</div>
