<div class="bsp-component bsp-image-promo-component{{#if modifierClass}} {{modifierClass}}{{/if}}">
	{{#if heading}}
		<div class="bsp-component-title">{{heading}}</div>
	{{/if}}

	<div class="bsp-component-content">

		<div class="bsp-image-promo">

		{{#if horizontalSplit}}
			<div class="bsp-row">
		{{/if}}

			{{#each images}}

				<div class="bsp-column-{{../horizontalSplit}}">{{this}}</div>

			{{/each}}

		{{#if horizontalSplit}}
			</div>
		{{/if}}

		</div>

	</div>

	{{#with cta}}
        {{render this}}
	{{/with}}
</div>
