<div class="bsp-video-player-brightcove">

    <script type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>

    <div class="bsp-video-player-object-wrapper">
        <object type="application/x-shockwave-flash" data="http://c.brightcove.com/services/viewer/federated_f9?&amp;flashID=video{{id}}&amp;bgcolor={{bgHex}}&amp;playerID={{playerId}}&amp;playerKey={{playerKey}}&amp;isVid=true&amp;dynamicStreaming=true&amp;%40videoPlayer={{id}}&amp;autoStart=&amp;debuggerID=&amp;wmode=transparent" id="video{{id}}" class="BrightcoveExperience" seamlesstabbing="undefined">
            <param name="allowScriptAccess" value="always" />
            <param name="allowFullScreen" value="true" />
            <param name="seamlessTabbing" value="false" />
            <param name="swliveconnect" value="true" />
            <param name="wmode" value="transparent" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="{{bgHex}}" />
        </object>
    </div>

</div>
