<div class="bsp-component bsp-list-promo-component{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">
    {{#with heading}}
        <div class="bsp-component-title">{{render this}}</div>
    {{/with}}

    <div class="bsp-component-content">

        <div class="bsp-list-promo">
            <ul class="bsp-list-promo-list {{#if options.horizontalSplit}}bsp-row{{/if}}">
                {{#each listItems}}
                    <li class="{{#if ../options.horizontalSplit}}bsp-column-{{/if}}{{../options.horizontalSplit}} {{#if imgAlign}}image-align-{{/if}}{{imgAlign}}">
                        {{this}}
                    </li>
                {{/each}}
            </ul>
        </div>

    </div>

    {{#with cta}}
        {{render this}}
    {{/with}}
</div>
