<div id="bsp-search-results-wrapper" data-bsp-ajax-links data-bsp-ajax-links-options='{"historyReplace":true}'>

    <div class="bsp-search-results">

    	<h1 class="bsp-search-results-heading">
    		{{#each heading}}
    			{{#if className}}<span class="{{className}}">{{/if}}{{text}}{{#if className}}</span>{{/if}}
    		{{/each}}
    	</h1>

    	<form class="bsp-search-results-form" {{#with searchForm.attributes}}{{> common/attributes this}}{{/with}} data-ajax-link-target=".bsp-search-results">
            <div class="bsp-search-results-text">
    			{{#with searchForm.searchInput}}
    				{{render this}}
    			{{/with}}
    			<button class="bsp-search-results-submit" type="submit"><i class="icon icon-search"><span class="sr-only">Go</span></i></button>
            </div>

        	{{#with searchSort}}
        	<div class="bsp-search-results-sort">
        		{{render this}}
        	</div>
        	{{/with}}

        	{{#with searchFilter}}
        	<div class="bsp-search-results-filter">
        		{{#with heading}}
        			{{render this}}
        		{{/with}}

        		<div class="bsp-search-results-filters">
        			{{#each checkboxes}}
        				{{render this}}
        			{{/each}}
        		</div>
        	</div>
        	{{/with}}
        </form>

    	<div class="bsp-search-results-content">
    		{{#each searchResults}}
    			{{render this}}
    		{{/each}}
    	</div>

    	<div class="bsp-search-pagination">
    		{{#with pagination}}
    			{{render this}}
    		{{/with}}
    	</div>

    </div>

</div>
