
{{#if options}}
	{{#if showMessagesAbove}}
		{{> components/bsp-form-message this}}
	{{/if}}
	<div class="bsp-form-select">
		{{#if label}}
			<label {{> common/attributes label.attributes }}>
			{{#if labelAfterInput}} {{else}}{{label.text}}{{/if}}
		{{/if}}
			<select {{> common/attributes attributes }}>
				{{#each options}}
					<option {{> common/attributes attributes }}>{{text}}</option>
				{{/each}}
			</select>
		{{#if label}}
			{{#if labelAfterInput}}{{label.text}}{{else}} {{/if}}
			</label>
		{{/if}}
	</div>
	{{#if showMessagesBelow}}
		{{> components/bsp-form-message this}}
	{{/if}}
{{/if}}