<div class="bsp-component bsp-gallery-module{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">

    {{#if galleryTitle}}
        <h3 class="bsp-component-title">{{galleryTitle}}</h3>
    {{/if}}

    {{#if galleryDescription}}
        <div class="bsp-component-desc">{{galleryDescription}}</div>
    {{/if}}

    <div class="bsp-component-content">

        <p>{{options.arrows}}</p>


        <div class="gallery-module" data-bsp-carousel data-bsp-carousel-options='{

        {{#if options.theme}}
            "theme" : "{{options.theme}}",
        {{/if}}

        {{!-- have to allow for different number of slides for mobilie portrait and landscape --}}

        "themeConfig" : {
            "slidesToShow" : {{#if options.slidesToShow}}{{options.slidesToShow}}{{else}}1{{/if}},
            "arrows" : true,
            "dots" : false,

                "responsive": [
                {
                  "breakpoint": 768,
                  "settings": {
                    "slidesToShow": {{#if options.slidesToShowMoblieLand}}{{options.slidesToShowMoblieLand}}{{else}}5{{/if}},
                    "slidesToScroll" : {{#if options.slidesToShowMoblieLand}}{{options.slidesToShowMoblieLand}}{{else}}5{{/if}},
                    "arrows" : false
                  }
                },
                {
                  "breakpoint": 376,
                  "settings": {
                    "slidesToShow":  {{#if options.slidesToShowMobile}}{{options.slidesToShowMobile}}{{else}}4{{/if}},
                    "slidesToScroll": {{#if options.slidesToShowMobile}}{{options.slidesToShowMobile}}{{else}}4{{/if}},
                    "arrows" : false
                  }
                }
                ]

        }

        }'>
            {{#each gallerySlides}}
                <div class="bsp-carousel-slide">
                    {{render this}}
                </div>
            {{/each}}

        </div>

    </div>

    {{#with cta}}
        <div class="bsp-component-cta {{#if options.location}}bsp-component-cta-{{options.location}}{{/if}}">
            {{render content}}
        </div>
    {{/with}}
</div>
