<div class="bsp-site-header-wrapper" data-bsp-scroll-checker>

	{{#if tophat}}
		<div class="bsp-tophat">
			<ul class="bsp-tophat-links">
				{{#each tophat}}
					<li>{{this}}</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}

	<div class="bsp-site-header">

		{{#with mainMenu}}
			<div class="bsp-site-menu" data-bsp-toggle-item>
				<div class="bsp-site-menu-content toggle-item">
					{{#each menuItems}}
						<ul class="bsp-site-menu-simple-list">
							<li class="heading">{{render this.heading}}</li>
							{{#each items}}
								<li>{{render this}}</li>
							{{/each}}
						</ul>
					{{/each}}

                    {{#with ../sharing}}
                        <div class="bsp-share-links-mobile-only">
                            <ul class="bsp-share-links">
                                {{#each this}}
                                    <li class="bsp-{{this.icon}}-share">{{render this cssClass="bsp-share-link"}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/with}}
				</div>

				<div class="bsp-site-menu-trigger toggle-trigger">
					<a href="#"><i class="icon icon-bars"><span class="sr-only">toggle menu</span></i></a>
				</div>
			</div>
		{{/with}}

		<div class="bsp-site-logo-centering">
			<h1 class="bsp-site-logo">
				{{#with siteLogo}}
					{{this}}
				{{/with}}
			</h1>
		</div>

		{{#if extraLinks}}
			<div class="bsp-header-extra-links-wrapper">
				<ul class="bsp-header-extra-links">
					{{#each extraLinks}}
						<li>{{render this}}</li>
					{{/each}}
				</ul>
			</div>
		{{/if}}

		{{#if sharing}}
			<div class="bsp-share-links-centering">
				<ul class="bsp-share-links">
					{{#each sharing.links}}
						<li class="bsp-{{this.icon}}-share">{{render this cssClass="bsp-share-link"}}</li>
					{{/each}}
				</ul>
			</div>
		{{/if}}

		<div class="bsp-site-search-trigger" data-bsp-toggle-item>
			<div class="bsp-site-search toggle-item">
				<form class="bsp-site-search-form" {{#with searchForm.attributes}}{{this}}{{/with}}>
					{{#with searchForm.searchInput}}
                        {{render this}}
                    {{/with}}

					<button class="bsp-site-search-submit" type="submit"><i class="icon icon-search"><span class="sr-only">Go</span></i></button>
				</form>
			</div>

			<div class="toggle-trigger">
				<a href="#"><i class="icon icon-search"><span class="sr-only">toggle search form</span></i></a>
			</div>
		</div>

		{{#if extraMenu}}
			<div class="bsp-extra-menu-wrapper">
				<ul class="bsp-extra-menu">
					{{#each extraMenu}}
                        <li>{{this}}</li>
					{{/each}}
				</ul>
			</div>
		{{/if}}

	</div>

</div>
