<div class="bsp-component">
	<div class="bsp-search-results">
		<h1 class="bsp-search-results-heading">{{heading}}</h1>

		<div class="bsp-search-results-bar">
				{{#with search-bar}}
				<div class="bsp-search-results-search-bar">
					{{ render this }}
				</div>
				{{/with}}
					
				{{#with select}}
				<div class="bsp-search-results-select">
					{{ render this }}
				</div>
				{{/with}}
					
				{{#with search-button}}
				<div class="bsp-search-results-button">
					{{ render this }}
				</div>
				
				{{/with}}
		</div>

	
		<div class="bsp-search-results-list">
			{{#with checkbox}}
			<ul>
				{{#each listItems}}
					{{#with link}}
						<li>{{ render this }}</li>
					{{/with}}
				{{/each}}
			</ul>
			{{/with}}
		</div>
	</div>
</div>