{{#if showMessagesAbove}}
	{{> components/bsp-form-message this}}
{{/if}}
<div class="bsp-form-textarea">
	{{#if label}}
		<label {{labelAttributes}}>
		{{#if labelAfterInput}} {{else}}{{render label}}{{/if}}
	{{/if}}
		<textarea {{render attributes}}>{{#if text}}{{text}}{{/if}}</textarea>
	{{#if label}}
		{{#if labelAfterInput}}{{render label}}{{else}} {{/if}}
		</label>
	{{/if}}
</div>
{{#if showMessagesBelow}}
	{{> components/bsp-form-message this}}
{{/if}}