{{#if showMessagesAbove}}
	{{> components/bsp-form-message this}}
{{/if}}
<div class="bsp-form-textarea">
	{{#if label}}
		<label {{label.attributes}}>
		{{#if labelAfterInput}} {{else}}{{label.text}}{{/if}}
	{{/if}}
		<textarea {{attributes}}>{{#if text}}{{text}}{{/if}}</textarea>
	{{#if label}}
		{{#if labelAfterInput}}{{label.text}}{{else}} {{/if}}
		</label>
	{{/if}}
</div>
{{#if showMessagesBelow}}
	{{> components/bsp-form-message this}}
{{/if}}
