<div class="bsp-component bsp-table-component{{#with options.modifierClass}} {{this}}{{/with}}">
	{{#if title}}
		<h3 class="bsp-component-title">{{render this.title}}</h3>
	{{/if}}

	<div class="bsp-component-content">

		<div class="bsp-table-wrapper">
			<table class="bsp-table{{#with options}}{{#if this.textAlignment}} {{this.textAlignment}}{{/if}}{{#if this.fullWidth}} full-width{{/if}}{{#if this.fixedColWidth}} fixed-col-width{{/if}}{{#if this.verticalAlignment}} {{this.verticalAlignment}}{{/if}}{{#if this.verticalStripes}} vertical-stripes{{/if}}{{#if this.horizontalStripes}} horizontal-stripes{{/if}}{{#if this.theme}} {{this.theme}}{{/if}}{{/with}}"{{#if options.sort}} data-bsp-table-sort{{/if}}>
				{{#if headings}}
					<thead>
						{{#each headings}}
							<th class="col-{{@index}}">
								{{#each this}}
									{{render this}}
								{{/each}}
							</th>
						{{/each}}
					</thead>
				{{/if}}
				<tbody>
					{{#each rows}}{{this}}{{/each}}
				</tbody>

			</table>
		</div>

	</div>

	{{#with cta}}
        {{render this}}
	{{/with}}

</div>

