<div class="bsp-component">
	<div class="bsp-pagination">
		<ul>
			{{#with navigate}}
				<li class="bsp-pagination-navigate-prev">
					{{#with previous}}
						<a {{#with attributes}}{{this}}{{/with}}><i class="icon icon-angle-left"></i> {{text}}</a>
					{{/with}}
				</li>
			{{/with}}
			{{#each listItems}}
				<li class="bsp-pagination-page{{#if this.options.modifierClass}} {{this.options.modifierClass}}{{/if}}">
				{{#with link}}
					{{ render this }}
				{{/with}}
				</li>
			{{/each}}
			{{#with navigate}}
				<li class="bsp-pagination-navigate-next">
					{{#with next}}
						<a {{#with attributes}}{{this}}{{/with}}>{{text}} <i class="icon icon-angle-right"></i></a>
					{{/with}}
				</li>
			{{/with}}
		</ul>
	</div>
</div>
