<div class="bsp-component bsp-list-promo-component{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">
    {{#if heading}}
        <div class="bsp-component-title">{{#if heading._template}}{{#with heading}}{{render this}}{{/with}}{{else}}{{heading}}{{/if}}</div>
    {{/if}}

    <div class="bsp-component-content">

        <div class="bsp-list-promo">
            <ul class="bsp-list-promo-list {{#if options.horizontalSplit}}bsp-row{{/if}}">
                {{#each listItems}}
                    <li class="{{#if ../options.horizontalSplit}}bsp-column-{{/if}}{{../options.horizontalSplit}} {{#if imgAlign}}image-align-{{/if}}{{imgAlign}}">
                        
                        {{#with section1}}
                            {{render this}}
                        {{/with}}
                        
                        {{#with section2}}
                            {{render this}}
                        {{/with}}

                        {{#with section3}}
                            {{render this}}
                        {{/with}}

                        {{render this}}
                        
                    </li>
                {{/each}}
            </ul>
        </div>

    </div>

    {{#with cta}}
        <div class="bsp-component-cta {{#if options.location}}cta-{{options.location}}{{/if}}">
            {{render content}}
        </div>  
    {{/with}}
</div>