<div class="bsp-component bsp-image-promo-component{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">
	{{#if heading}}
		<div class="bsp-component-title">{{heading}}</div>
	{{/if}}

	<div class="bsp-component-content">

		<div class="bsp-image-promo">

		{{#if options.horizontalSplit}}
			<div class="bsp-row">
		{{/if}}

			{{#each images}}

				<div class="bsp-column-{{../options.horizontalSplit}}">

					<div class="bsp-image-promo-image">

						{{#with image}}
							{{render this}}
						{{/with}}

						<ul class="bsp-image-promo-links">
							{{#each promoLinks}}
								<li>{{render this}}</li>
							{{/each}}
						</ul>
					</div>

				</div>

			{{/each}}

		{{#if options.horizontalSplit}}
			</div>
		{{/if}}

		</div>

	</div>

	{{#with cta}}
		<div class="bsp-component-cta {{#if options.location}}cta-{{options.location}}{{/if}}">
			{{render content}}
		</div>	
	{{/with}}
</div>