{{!--
	Options:
	contentUrl - content to populate the interstitial 
	countMessage - message to show during countdown, use {n} to represent the count number
	countDisable - set true if you don't want a counter at all, forces navEnabled and navVisible to true
	countDuration - seconds countdown should last
	countPosition - valid values are topLeft, topMiddle, topRight, bottomLeft, bottomMiddle and bottomRight
	navEnabled - if navigation is visible while the countdown is happening, should it be usable while the ad is playing? (does nothing if navVisible is false)
	navVisible - if true, show navigation while the countdown is happening
--}}
<div
	class="bsp-gallery-fullscreen-interstitial{{#if options.interstitial.modifierClass}} {{options.interstitial.modifierClass}}{{/if}}"
	data-options=
	'
		{
			"contentUrl" : "{{options.interstitial.contentUrl}}",
			"countDisable" : {{options.interstitial.countDisable}},
			"countMessage" : "{{options.interstitial.countMessage}}",
			"countDuration" : {{options.interstitial.countDuration}},
			"countPosition" : "{{options.interstitial.countPosition}}",
			"navEnabled" : {{options.interstitial.navEnabled}},
			"navVisible" : {{options.interstitial.navVisible}}
		}
	'
>
	<div class="bsp-gallery-fullscreen-interstitial-counter"></div>
	<div class="bsp-gallery-fullscreen-interstitial-content"></div>
</div>