<div class="bsp-component bsp-tabber-promo-component{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">

	{{#if heading}}
		<div class="bsp-component-title">{{heading}}</div>
	{{/if}}

	{{#if tabs}}
		<div class="bsp-tabber-wrapper" data-bsp-tabber{{#with options.jsOptions }} data-bsp-tabber-options='{{> common/options this }}'{{/with}}>
		{{#each tabs}}
			<div class="bsp-tab" data-nav-title="{{#if label}}{{label}}{{/if}}">
			{{#if text}}
				{{#if textHeading}}<div class="bsp-tabber-tab-heading">{{textHeading}}</div>{{/if}}
				{{text}}
				{{#if ctaText}}
				<div class="bsp-component-cta">
					<a href="{{ctaLink}}">{{ctaText}}</a>
				</div>	
				{{/if}}	
			{{else}}
				{{#with component}}
					{{render this}}
				{{/with}}
			{{/if}}
			</div>
		{{/each}}
		</div>
	{{/if}}

	{{#with cta}}
		<div class="bsp-component-cta {{#if options.location}}cta-{{options.location}}{{/if}}">
			{{render content}}
		</div>	
	{{/with}}

</div>