<div class="bsp-tab" data-nav-title="{{this.label}}{{#if this.labelSubText}} <span>{{this.labelSubText}}</span>{{/if}}">
    {{#if text}}
        {{#if textHeading}}<div class="bsp-tabber-tab-heading">{{textHeading}}</div>{{/if}}
        {{text}}
    {{else}}
        {{#with component}}
            {{render this}}
        {{/with}}
    {{/if}}
</div>
