<div class="bsp-list-promo-section{{#if name}}-{{name}}{{/if}} ">

    {{#with image}}
        <div class="bsp-list-promo-image">
            {{render this}}
        </div>
    {{/with}}

    {{#if tags}}
        <ul class="bsp-list-promo-tags">
            {{#each tagList}}
                <li>{{render this}}</li>
            {{/each}}
        </ul>
    {{/if}}

    {{#with title}}
        <div class="bsp-list-promo-title">{{render this}}</div>
    {{/with}}

    {{#if subtitle}}
        <div class="bsp-list-promo-subtitle">{{{subtitle}}}</div>
    {{/if}}

    {{#if description}}
        <div class="bsp-list-promo-desc">{{{description}}}</div>
    {{/if}}

    {{#with link}}
        <div class="bsp-list-promo-link">{{render this}}</div>
    {{/with}}
</div>
