<div class="bsp-component">
	{{#if galleryTitle}}
		<h3 class="bsp-component-title">{{galleryTitle}}</h1>
	{{/if}}

	<div class="bsp-component-content">

		<div class="gallery-module gallery-module-{{#if options.carouselDots}}carousel-dots{{/if}}" data-bsp-carousel data-bsp-carousel-options='{ "theme" : "{{#if options.carouselDots}}carousel-dots{{/if}}" }'>
			{{#each gallerySlides}}
				<div class="bsp-carousel-slide">

					{{render this}}

                    {{#with cta}}
                        <div class="bsp-component-cta {{#if options.location}}cta-{{options.location}}{{/if}}">
                            {{render content}}
                        </div>  
                    {{/with}}

				</div>
			{{/each}}
		</div>

	</div>

	{{#with cta}}
		<div class="bsp-component-cta {{#if options.location}}cta-{{options.location}}{{/if}}">
			{{render content}}
		</div>	
	{{/with}}
</div>