<div class="bsp-component bsp-video-player-component{{#if modifierClass}} {{modifierClass}}{{/if}}">

    <div class="bsp-component-content">
        <div class="bsp-video-player">

            {{#if title}}
                <h4 class="bsp-video-player-title">{{render this.title}}</h4>
            {{/if}}

            {{video}}

            {{#if description}}
                <div class="bsp-video-player-description">{{render this.description}}</div>
            {{/if}}

            {{#if tags}}
            <div class="bsp-tags">
                <div class="bsp-tag-list-title">{{render this.tagsTitle}}</div>
                <ul class="bsp-tag-list">
                    {{#each tags}}
                        <li>{{render this cssClass="bsp-tag"}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}

            {{#if sharing}}
                <div class="bsp-video-player-sharing">{{render this.sharing}}</div>
            {{/if}}

            {{#with cta}}
                {{render this}}
            {{/with}}

        </div>
    </div>

</div>
