<div class="bsp-component bsp-video-player-component{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">

    <div class="bsp-component-content">
        <div class="bsp-video-player">

            {{#if title}}
                <h4 class="bsp-video-player-title">{{render this.title}}</h4>
            {{/if}}

            {{#if video.native}}
                <video class="bsp-video-player-native" controls>
                    <source src="{{video.src}}.mp4" type="video/mp4">
                    <source src="{{video.src}}.ogg" type="video/ogg">
                </video>
            {{/if}}

            {{#if video.youtube}}
                <div class="bsp-video-player-iframe-wrapper">
                    <iframe src="{{video.src}}" frameborder="0" allowfullscreen></iframe>
                </div>
            {{/if}}

            {{#if video.vimeo}}
                <div class="bsp-video-player-iframe-wrapper">
                    <iframe src="{{video.src}}" frameborder="0" allowfullscreen></iframe>
                </div>
            {{/if}}

            {{#if video.brightcove}}
                <div class="bsp-video-player-brightcove">

                    <script type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>

                    <div class="bsp-video-player-object-wrapper">
                        <object type="application/x-shockwave-flash" data="http://c.brightcove.com/services/viewer/federated_f9?&amp;flashID=video{{video.id}}&amp;bgcolor={{video.bgHex}}&amp;playerID={{video.playerId}}&amp;playerKey={{video.playerKey}}&amp;isVid=true&amp;dynamicStreaming=true&amp;%40videoPlayer={{video.id}}&amp;autoStart=&amp;debuggerID=&amp;wmode=transparent" id="video{{video.id}}" class="BrightcoveExperience" seamlesstabbing="undefined">
                            <param name="allowScriptAccess" value="always" />
                            <param name="allowFullScreen" value="true" />
                            <param name="seamlessTabbing" value="false" />
                            <param name="swliveconnect" value="true" />
                            <param name="wmode" value="transparent" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="{{video.bgHex}}" />
                        </object>
                    </div>

                </div>
            {{/if}}

            {{#if description}}
                <div class="bsp-video-player-description">{{render this.description}}</div>
            {{/if}}

            {{#if tags}}
            <div class="bsp-tags">
                <div class="bsp-tag-list-title">{{render this.tagsTitle}}</div>
                <ul class="bsp-tag-list">
                    {{#each tags}}
                        <li>{{render this cssClass="bsp-tag"}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}

            {{#if sharing}}
                <div class="bsp-video-player-sharing">{{render this.sharing}}</div>
            {{/if}}

        </div>
    </div>

</div>
