<div data-bsp-carousel-gallery data-bsp-carousel-gallery-options='{ "dynamicSlideLoad" : "{{options.dynamicSlideLoad}}" {{#if options.thumbnailsToShow}},"nav": { "themeConfig" : { "slidesToShow" : {{options.thumbnailsToShow}} } } {{/if}} }'>

    <div class="bsp-carousel-gallery-container">

        {{#if galleryTitle}}
        <div class="bsp-carousel-gallery-header">
            <h2 class="bsp-carousel-gallery-title">
                {{galleryTitle}}
            </h2>
            {{#if galleryDescription}}
                <div class="bsp-carousel-gallery-desc">
                    {{render this.galleryDescription}}
                </div>
            {{/if}}
        </div>
        {{/if}}

        <div class="bsp-carousel-gallery">
            <div class="bsp-carousel-stage">
                {{#each gallerySlides}}
                    <div class="bsp-carousel-slide{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">
                        {{render this}}
                    </div>
                {{/each}}
            </div>

            {{#if options.galleryThumbnails}}
                <div class="bsp-carousel-nav">

                    {{#each gallerySlides}}
                        <div class="bsp-carousel-slide{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">
                            {{render this.thumbnail}}
                        </div>
                    {{/each}}

                </div>
            {{/if}}
        </div>

        <div class="bsp-carousel-gallery-footer">

            {{#if options.galleryThumbnails}}
            <div class="bsp-carousel-gallery-thumbs">
                <span class="icon icon-th-large" href=""></span>
                <span class="bsp-carousel-gallery-count"></span>
            </div>
            {{else}}
            <div class="bsp-carousel-gallery-count-wrapper">
                <span class="bsp-carousel-gallery-count"></span>
            </div>
            {{/if}}

            <div class="bsp-carousel-gallery-caption-trigger">
                <span class="icon icon-info-circle" href=""></span>
                <span class="captions-visible">Hide Captions</span>
                <span class="captions-hidden">Show Captions</span>
            </div>

            {{#if sharing}}
            <div class="bsp-carousel-gallery-sharing">
                {{render this.sharing}}
            </div>
            {{/if}}

            {{#with tags}}
                {{render this}}
            {{/with}}

        </div>

    </div>
</div>
