<div class="bsp-article-wrapper{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}{{#if nextArticle}} bsp-infinite-load-wrapper{{/if}}"{{#if nextArticle}} data-bsp-infinite-content{{/if}}>

	<div class="bsp-article{{#if nextArticle}} bsp-infinite-load-item{{/if}}"{{#if nextArticle}} data-bsp-infinite-load-item-url="{{permalink}}"{{/if}}>

		{{#if sharing}}{{render sharing }}{{/if}}

		<h1 class="bsp-article-title">{{title}}</h1>

		{{#if subTitle}}
			<h3 class="bsp-article-subtitle">{{subTitle}}</h3>
		{{/if}}

		<div class="bsp-meta-data">
			{{#if authors}}
		  		<div class="bsp-meta-author">By {{#each authors}}{{#unless @first}}, {{/unless}}{{> common/link link}}{{/each}}</div>
			{{/if}}
			{{#if publishDate}}
				<div class="bsp-meta-date">{{publishDate}}</div>
			{{/if}}
		</div>

		{{#with lead}}
		<div class="bsp-article-lead">
			{{render this}}
		</div>
		{{/with}}

		<div class="bsp-article-content">
			{{#each body}}
				{{#if options.enhancement}}
					<div class="bsp-article-enhancement{{#if options.align}} align-{{options.align}}{{/if}}">
						{{render content}}
					</div>
				{{else}}
					{{render content}}
				{{/if}}

			{{/each}}
		</div>

        {{#if tags}}
		<div class="bsp-tags">
            <div class="bsp-tag-list-title">{{render this.tagsTitle}}</div>
			<ul class="bsp-tag-list">
				{{#each tags}}
					<li>{{render this linkClass="bsp-tag"}}</li>
				{{/each}}
			</ul>
		</div>
        {{/if}}

	</div>

</div>

{{#with nextArticle}}
	<div class="bsp-article-load-more">
		{{render this linkClass="bsp-infinite-load-trigger"}}
	</div>
{{/with}}
