<div class="bsp-carousel-gallery-wrapper">

	{{#if galleryTitle}}
		<h2 class="bsp-carousel-gallery-header">
			{{#if galleryTitleType}}
				<span>{{galleryTitleType}}:</span>
			{{/if}}
			{{galleryTitle}}
		</h2>
	{{/if}}

	<div data-bsp-carousel-gallery>
		{{#gallerySlides}}
			<div class="bsp-carousel-gallery-slide">
				<img alt="" src="{{slideImage}}" />
				{{#if slideTitle}}
					<h3 class="bsp-carousel-gallery-slide-title">{{slideTitle}}</h3>
				{{/if}}
				{{#if slideDescription}}
					<div class="bsp-carousel-gallery-slide-description">{{slideDescription}}</div>
				{{/if}}
			</div>
		{{/gallerySlides}}
	</div>

	<div class="bsp-carousel-gallery-footer">	


		{{#if thumbnails}}
		<div class="bsp-carousel-gallery-footer-thumbnails-link">
			<a href="">Thumbnails</a>
		</div>
		{{/if}}

		
		{{#if sharing}}
		<div class="bsp-sharing" data-bsp-share data-bsp-share-options='{"iconClass":"icon", "serviceProps": { {{#if sharing.facebook}} {{#if sharing.facebook.appId}} "facebook" : { "appId": {{sharing.facebook.appId}} } {{/if}} {{/if}}  }}'>
			{{#if sharingTitle}}
				<h4 class="bsp-carousel-gallery-footer-header">{{sharingTitle}}:</h4>
			{{/if}}
			{{#if sharing.facebook}}
		    	<div class="bsp-sharing-item bsp-facebook-share"></div>
		    {{/if}}
		    {{#if sharing.twitter}}
		    	<div class="bsp-sharing-item bsp-twitter-share"></div>
		    {{/if}}
		    {{#if sharing.google}}
		    	<div class="bsp-sharing-item bsp-google-share"></div>
		    {{/if}}
		    {{#if sharing.pinterest}}
		    	<div class="bsp-sharing-item bsp-pinterest-share"></div>
		    {{/if}}
		    {{#if sharing.linkedin}}
		    	<div class="bsp-sharing-item bsp-linkedin-share"></div>   
		    {{/if}}
		</div>
		{{/if}}

		{{#if relatedLinks}}
		<div class="bsp-carousel-gallery-footer-links">
			{{#if relatedLinksTitle}}
				<h4 class="bsp-carousel-gallery-footer-header">{{relatedLinksTitle}}:</h4>
			{{/if}}
			<ul>
				{{#relatedLinks}}
					<li><a href="{{href}}">{{text}}</a></li>
				{{/relatedLinks}}			
			</ul>
		</div>
		{{/if}}

	</div>

</div>