<div class="bsp-component">
	{{#if heading}}
		<div class="bsp-component-title">{{heading}}</div>
	{{/if}}

	<div class="bsp-component-content">

		<div class="bsp-image-promo">

			<div class="bsp-row">

				{{#images}}
				<div class="bsp-column-third">
					<div class="bsp-image-promo-image">
						<img src="{{imgSrc}}" alt="{{imgAlt}}" />
						<ul class="bsp-image-promo-links">
							{{#links}}
							<li><a href="{{link}}">{{text}}</a></li>
							{{/links}}
						</ul>
					</div>
				</div>
				{{/images}}

			</div>

		</div>

	</div>

	{{#if ctaText}}
		<div class="bsp-component-cta">
			<a href="{{ctaLink}}">{{ctaText}}</a>
		</div>	
	{{/if}}	
</div>