<div class="bsp-component">
	{{#if heading}}
		<div class="bsp-component-title">{{heading}}</div>
	{{/if}}

	<div class="bsp-component-content">

		<div class="bsp-image-promo">

		{{#if options.horizontalSplit}}
			<div class="bsp-row">
		{{/if}}

			{{#images}}

				<div class="bsp-column-{{../options.horizontalSplit}}">

					<div class="bsp-image-promo-image">
						<a href="{{imgLink}}"><img src="{{imgSrc}}" alt="{{imgAlt}}" /></a>
						<ul class="bsp-image-promo-links">
							{{#links}}
							<li><a href="{{link}}">{{text}}</a></li>
							{{/links}}
						</ul>
					</div>

				</div>

			{{/images}}

		{{#if options.horizontalSplit}}
			</div>
		{{/if}}

		</div>

	</div>

	{{#if ctaText}}
		<div class="bsp-component-cta">
			<a href="{{ctaLink}}">{{ctaText}}</a>
		</div>	
	{{/if}}	
</div>