<div class="bsp-component">
	{{#if heading}}
		<div class="bsp-component-title">{{heading}}</div>
	{{/if}}

	<div class="bsp-component-content">

		<div class="bsp-list-promo {{#if options.modifierClass}}{{options.modifierClass}}{{/if}}">
			<ul class="bsp-list-promo-list {{#if options.horizontalSplit}}bsp-row{{/if}}">
				{{#listItems}}
					<li class="{{#if ../options.horizontalSplit}}bsp-column-{{/if}}{{../options.horizontalSplit}} {{#if imgAlign}}image-align-{{/if}}{{imgAlign}}">
						{{#if imgSrc}}
							<div class="bsp-list-promo-image">
								<a href="{{link}}"><img src="{{imgSrc}}" alt="{{imgAlt}}" /></a>
							</div>
						{{/if}}
						<div class="bsp-list-promo-text">
							{{#if title}}
								<div class="bsp-list-promo-title"><a href="{{link}}">{{title}}</a></div>
							{{/if}}
							
							{{#if description}}
								<div class="bsp-list-promo-desc">{{description}}</div>
							{{/if}}

							{{#if linkText}}
								<div class="bsp-list-promo-link"><a href="{{link}}">{{linkText}}</a></div>
							{{/if}}
						</div>
					</li>
				{{/listItems}}
			</ul>
		</div>

	</div>

	{{#if ctaText}}
		<div class="bsp-component-cta">
			<a href="{{ctaLink}}">{{ctaText}}</a>
		</div>	
	{{/if}}	
</div>