<div class="bsp-component">
	<div class="bsp-list-promo">
		<div class="bsp-list-promo-title">{{title}}</div>
		<ul class="bsp-list-promo-list">
			{{#listItems}}
				<li><a href="{{link}}">{{text}}</a></li>
			{{/listItems}}
		</ul>
		<div class="bsp-list-promo-cta">
			<a href="{{ctaLink}}">{{ctaText}}</a>
		</div>		
	</div>
</div>