<span class="share-links-wrapper">

	<span class="share-links-title">{{social}}</span>

	<ul class="share-links{{#if monochrome}} icons-monochrome{{/if}}"
			data-bsp-share
			data-bsp-share-options=
			'
				{
					"description":"{{description}}",
					"image":"{{image}}",
					"title":"{{title}}",
					"url":"{{url}}",
					"redirectUrl":"{{redirectUrl}}",
					"iconClass":"{{iconClass}}",
					"serviceProps":{
						"facebook":{"appId":"{{facebookId}}"}
					},
                    "sharingClass"       : "share-link",
                    "serviceClassBefore" : ""
				}
			'
	>
		{{#each services}}
				<li class="{{this}}-share"></li>
		{{/each}}
	</ul>
</span>