<div class="bsp-table">
	<h2>{{title}}</h2>
	<table{{#with options}}{{> (lookup . '_template')}}{{/with}}>
		{{#if headings}}
			<thead>
				{{#each headings}}
					<th>{{this}}</th>
				{{/each}}
			</thead>
		{{/if}}
		{{#each rows}}
			<tr class="row-{{@key}}">
				{{#each row}}
					<td class="col-{{@key}}">
						{{#if link.attributes}}
							{{#with link}}
								{{> (lookup . '_template') }}
							{{/with}}
						{{/if}}
						{{#if image}}
							{{#with image}}
								{{> (lookup . '_template')}}
							{{/with}}
						{{/if}}
						{{#if text}}
							{{this.text}}
						{{/if}}
					</td>
				{{/each}}
			</tr>
		{{/each}}			
	</table>

</div>

