{{#defineBlock "YouTubeVideoPlayer"}}

    {{#defineElement "screen" noWith=true}}
        <div class="{{elementName}}" data-aspect-ratio="{{#if aspectRatio}}{{aspectRatio}}{{else}}4x3{{/if}}">
            <iframe id="{{id}}"
                type="text/html"
                src="https://www.youtube.com/embed/{{videoId}}?enablejsapi=1{{#with seekSeconds}}&start={{this}}{{/with}}{{#with autoplay}}&autoplay=1{{/with}}"
                frameborder="0"></iframe>
        </div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}"
            itemprop="video" itemscope itemtype="http://schema.org/VideoObject"
            {{#with videoId}}data-video-id="{{this}}"{{/with}}
            {{#with seekSeconds}}data-seek-seconds="{{this}}"{{/with}}
            {{#if muted}}data-muted{{/if}}
            {{#if autoplay}}data-autoplay{{/if}}
            {{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "screen"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}

{{/defineBlock}}
