{{#defineBlock "Button"}}
    {{#defineBlockContainer}}
        {{#defineBlockBody}}
            <button
                class="{{blockName}}"
                {{#with disabled}}disabled{{/with}}
                {{#with form}}form="{{this}}"{{/with}}
                {{#with formAction}}formaction="{{this}}"{{/with}}
                {{#with name}}name="{{this}}"{{/with}}
                {{#with type}}type="{{this}}"{{/with}}
                {{#with value}}value="{{this}}"{{/with}}
            >{{text}}</button>
        {{/defineBlockBody}}
    {{/defineBlockContainer}}
{{/defineBlock}}
