{{#block "CreativeWorkMain" extend="Main.hbs"}}
    {{#element "meta" noWith=true}}
        {{#with datePublishedISO}}
            <meta itemprop="datePublished" content="{{this}}">
        {{/with}}

        {{#with dateModifiedISO}}
            <meta itemprop="dateModified" content="{{this}}">
        {{/with}}
    {{/element}}

    {{#element "datePublished"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/element}}

    {{#element "dateModified"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/element}}

    {{#element "preHeadline"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/element}}

    {{#element "headline"}}
        <div class="{{elementName}}" itemprop="headline">{{this}}</div>
    {{/element}}

    {{#element "subHeadline"}}
        <div class="{{elementName}}" itemprop="alternativeHeadline">{{this}}</div>
    {{/element}}

    {{#element "byline"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/element}}

    {{#element "authors"}}
        {{#each this}}
            <div class="{{elementName}}">{{this}}</div>
        {{/each}}
    {{/element}}
{{/block}}
