{{#defineBlock "CreativeWorkMain" extend="Main.hbs"}}
    {{#defineElement "meta" noWith=true}}
        {{#with datePublishedISO}}
            <meta itemprop="datePublished" content="{{this}}">
        {{/with}}

        {{#with dateModifiedISO}}
            <meta itemprop="dateModified" content="{{this}}">
        {{/with}}
    {{/defineElement}}

    {{#defineElement "datePublished"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "dateModified"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "preHeadline"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "headline"}}
        <div class="{{elementName}}" itemprop="headline">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "subHeadline"}}
        <div class="{{elementName}}" itemprop="alternativeHeadline">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "byline"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "authors"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}
{{/defineBlock}}
