{{#defineBlock "Form"}}

    {{#defineElement "button"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "items"}}
        {{#each this}}
            <div class="{{elementName}}-item">{{this}}</div>
        {{/each}}
    {{/defineElement}}

    {{#defineBlockContainer}}

        <form class="{{blockName}}"
            {{#with action}} action="{{this}}"{{/with}}
            {{#with method}} method="{{this}}"{{/with}}
            {{#with enctype}} enctype="{{this}}"{{/with}}  {{extraAttributes}} >
            {{#defineBlockBody}}
                {{element "items"}}
                {{element "button"}}
            {{/defineBlockBody}}
        </div>

    {{/defineBlockContainer}}
{{/defineBlock}}
