{{#defineBlock "Form"}}

    {{#defineElement "actionButton"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "items"}}
        {{#each this}}
            <div class="{{elementName}}-item">{{this}}</div>
        {{/each}}
    {{/defineElement}}

    {{#defineBlockContainer}}

        <form class="{{blockName}}" {{#with actionUrl}} action="{{this}}" {{/with}}>
            {{#defineBlockBody}}
                {{element "items"}}
                {{element "actionButton"}}
            {{/defineBlockBody}}
        </div>

    {{/defineBlockContainer}}
{{/defineBlock}}
