{{#block "Main"}}
    {{#element "breadcrumbs"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/element}}

    {{#element "tags"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/element}}

    {{#element "sharebar"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/element}}

    {{#element "comments"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/element}}
{{/block}}
