{{#defineBlock "PageNavigation"}}

    {{#defineElement "label"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "items"}}
        <ul class="{{elementName}}">
        {{#each this}}
          <li class="{{elementName}}-item" {{#if active}}data-is-active{{/if}}>{{this}}</li>
        {{/each}}
        </ul>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <nav class="{{blockName}}" itemscope itemtype="http://schema.org/SiteNavigationElement"{{extraAttributes}}>
            {{#defineBlockBody}}
              {{element "label"}}
              {{element "items"}}
            {{/defineBlockBody}}
        </nav>
    {{/defineBlockContainer}}
{{/defineBlock}}
