{{#defineBlock "TagLinks"}}

    {{#defineElement "items"}}
        {{#each this}}
            <a class="{{elementName}}" href="{{href}}"{{#with target}} target="{{this}}"{{/with}}>{{body}}</a>
        {{/each}}
    {{/defineElement}}

    {{#defineBlockContainer}}

        <div class="{{blockName}}">
            {{#defineBlockBody}}
                {{element "items"}}
            {{/defineBlockBody}}
        </div>

    {{/defineBlockContainer}}
{{/defineBlock}}
