{{#defineBlock "TextInput" extend="Input.hbs"}}

    {{#defineElement "characterCountdown"}}
        <div class="{{elementName}}">{{../maxlength}} {{this}}</div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}">
            {{#defineBlockBody}}
                {{element "input"}}
                {{element "label"}}
                {{#if maxlength}}{{element "characterCountdown"}}{{/if}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}

{{/defineBlock}}
