<span class="share-links-wrapper">

	<span class="share-links-title">{{render socialTitle}}</span>

	<ul class="share-links{{#if displayOptions.monochrome}} icons-monochrome{{/if}}" data-bsp-share
    	data-bsp-share-options='{
    			"description":"{{description}}",
    			"image":"{{image}}",
    			"title":"{{title}}",
    			"url":"{{url}}",
    			"redirectUrl":"{{redirectUrl}}",
    			"iconClass":"icon",
    			"serviceProps":{
					{{#each services}}
						"{{this.name}}": {
							{{#if this.publicKey}}"appId": "{{this.publicKey}}",{{/if}}
							"title": "{{this.title}}",
							"caption": "{{this.caption}}",
							"description": "{{this.description}}"
						}
						{{#unless @last}},{{/unless}}
					{{/each}}
    			},
                "sharingClass"       : "share-link",
                "serviceClassBefore" : ""
    		}'>
		{{#each services}}
			{{#if ../displayOptions.renderLabel}}
				{{render this renderLabel=true}}
			{{else}}
				{{this}}
			{{/if}}
		{{/each}}
	</ul>
</span>
