{{#defineBlock "Comment"}}
    {{#defineElement "author"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "time"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "body"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "like" noWith=true}}
        <form class="CommentAction-like" method="post" action="{{likeAction}}">
            <button class="{{elementName}}-button">{{likeButton}}</button>
        </form>
    {{/defineElement}}

    {{#defineElement "dislike" noWith=true}}
        <form class="CommentAction-dislike" method="post" action="{{dislikeAction}}">
            <button class="{{elementName}}-button">{{dislikeButton}}</button>
        </form>
    {{/defineElement}}

    {{#defineElement "reply" noWith=true}}
        <form class="CommentAction-reply" method="get" action="{{replyAction}}">
            <button class="{{elementName}}-button">{{replyButton}}</button>
        </form>
    {{/defineElement}}

    {{#defineElement "actions" noWith=true}}
        <footer class="{{elementName}}">
            {{element "like"}}
            {{element "dislike"}}
            {{element "reply"}}
        </footer>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div id="{{id}}"
            class="{{blockName}}"
            {{#if parentId}}data-in-reply-to="{{parentId}}"{{/if}}
            {{#if threadDepth}}data-thread-depth="{{threadDepth}}"{{/if}}
            {{#if isStaff}}data-by-staff{{/if}}
            itemscope itemtype="http://schema.org/Comment"
            {{extraAttributes}}>

            {{#defineBlockBody}}
                {{element "author"}}
                {{element "time"}}
                {{element "body"}}
                {{element "actions"}}
            {{/defineBlockBody}}

        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
