{{#defineBlock "Comment"}}
    {{#defineElement "author"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "time"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "body"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "replies" noWith=true}}
        <section class="{{elementName}}">
            {{#each replies}}{{this}}{{/each}}
        </section>
    {{/defineElement}}

    {{#defineElement "like" noWith=true}}
        {{#if likeButton}}
            <form class="{{elementName}}" method="post" action="{{likeAction}}">
                <button class="{{elementName}}-button">{{likeButton}}</button>
            </form>
        {{/if}}
    {{/defineElement}}

    {{#defineElement "dislike" noWith=true}}
        {{#if dislikeButton}}
            <form class="{{elementName}}" method="post" action="{{dislikeAction}}">
                <button class="{{elementName}}-button">{{dislikeButton}}</button>
            </form>
        {{/if}}
    {{/defineElement}}

    {{#defineElement "flag" noWith=true}}
        {{#if flagButton}}
            <form class="{{elementName}}" method="post" action="{{flagAction}}">
                <button class="{{elementName}}-button">{{flagButton}}</button>
            </form>
        {{/if}}
    {{/defineElement}}

    {{#defineElement "share" noWith=true}}
        {{#if shareButton}}
            <form class="{{elementName}}" method="post" action="{{shareAction}}">
                <button class="{{elementName}}-button">{{shareButton}}</button>
            </form>
        {{/if}}
    {{/defineElement}}

    {{#defineElement "reply" noWith=true}}
        {{#if replyButton}}
            <form class="{{elementName}}" method="get" action="{{replyAction}}">
                <button class="{{elementName}}-button">{{replyButton}}</button>
            </form>
        {{/if}}
    {{/defineElement}}

    {{#defineElement "actions" noWith=true}}
        <div class="{{elementName}}">
            {{element "flag"}}
            {{element "share"}}
            {{element "like"}}
            {{element "dislike"}}
            {{element "reply"}}
        </div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}"
            data-bsp-community-comment
            {{#if isStaff}}data-is-staff{{/if}}
            itemscope itemtype="http://schema.org/Comment"
            {{extraAttributes}}>

            {{#defineBlockBody}}
                {{element "author"}}
                {{element "time"}}
                {{element "body"}}
                {{element "actions"}}
                {{element "replies"}}
            {{/defineBlockBody}}

        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
