{{#defineBlock "CommentEntry"}}
    {{#defineElement "user"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "title"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "logout"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "input" noWith=true}}
        <div class="{{elementName}}">{{input}}</div>
    {{/defineElement}}

    {{#defineElement "validation"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "submit" noWith=true}}
        {{#if submitAction}}
            <div class="{{elementName}}">
                <button formaction="{{submitAction}}" class="{{elementName}}-button">{{submitButton}}</button>
            </div>
        {{/if}}
    {{/defineElement}}

    {{#defineElement "actions" noWith=true}}
        <footer class="{{elementName}}">
            {{element "submit"}}
        </footer>
    {{/defineElement}}

    {{#defineElement "form" noWith=true}}
        <form
            method="post"
            class="{{elementName}}"
            action="{{submitAction}}">
            {{element "input"}}
            {{element "validation"}}
            {{element "actions"}}
        </form>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}"
            data-bsp-community-commentEntry
            data-commenting-id="{{commentingId}}"
            {{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "user"}}
                {{element "title"}}
                {{element "logout"}}
                {{element "form"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
