{{#defineBlock "Commenting"}}
    {{#defineElement "title"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "hideToggle" noWith=true}}
        {{#if textWhenVisible}}
            <div class="{{elementName}}">
                <button class="{{elementName}}-hideButton">{{textWhenVisible}}</button>
                <button class="{{elementName}}-showButton">{{textWhenHidden}}</button>
            </div>
        {{/if}}
    {{/defineElement}}

    {{#defineElement "loadMore" noWith=true}}
        {{#if loadMoreAction}}
            <form class="{{elementName}}" action="{{loadMoreAction}}">
                <button class="{{elementName}}-button">{{loadMoreButton}}</button>
            </form>
        {{/if}}
    {{/defineElement}}

    {{#defineElement "commentEntry"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "body"}}
        <div class="{{elementName}}" data-comments-shown={{#if ../showComments}}true{{else}}false{{/if}}>{{this}}</div>
    {{/defineElement}}

    {{#defineElement "actions" noWith=true}}
        <div class="{{elementName}}">
            {{element "hideToggle"}}
            {{element "loadMore"}}
        </div>
    {{/defineElement}}

    {{#defineElement "validation"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}"
            id="{{id}}"
            data-bsp-community-commenting
            data-bsp-community-commenting-options='{ {{#if showComments}}"showComments":{{showComments}}{{/if}} }'{{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "title"}}
                {{element "commentEntry"}}
                {{element "body"}}
                {{element "actions"}}
                {{element "validation"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
