{{#defineBlock "CommentEntry"}}
    {{#defineElement "user"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "title"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "logout" noWith=true}}
        <form class="{{elementName}}" action="{{logoutAction}}">
            <button class="{{elementName}}-button">{{logoutButton}}</button>
        </form>
    {{/defineElement}}

    {{#defineElement "input" noWith=true}}
        <div class="{{elementName}}">{{input}}</div>
    {{/defineElement}}

    {{#defineElement "validation"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "submit" noWith=true}}
        <button formaction="{{submitAction}}" class="{{elementName}}-button">{{submitButton}}</button>
    {{/defineElement}}

    {{#defineElement "actions" noWith=true}}
        <footer class="{{elementName}}">
            {{element "submit"}}
        </footer>
    {{/defineElement}}

    {{#defineElement "form" noWith=true}}
        <form
            method="post"
            class="{{elementName}}"
            action="{{submitAction}}">
            {{element "input"}}
            {{element "validation"}}
            {{element "actions"}}
        </form>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}"
            data-bsp-community-commentEntry
            {{#if replaceWithResponse}}data-replace-with-response{{/if}}
            {{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "user"}}
                {{element "title"}}
                {{element "logout"}}
                {{element "form"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
