{{#defineBlock "Commenting"}}
    {{#defineElement "title"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "hideToggle" noWith=true}}
        <div class="{{elementName}}">
            <button class="{{elementName}}-hideButton">{{textWhenVisible}}</button>
            <button class="{{elementName}}-showButton">{{textWhenHidden}}</button>
        </div>
    {{/defineElement}}

    {{#defineElement "loadMore" noWith=true}}
        <div class="{{elementName}}">
            <button class="{{elementName}}-button">{{loadMoreButton}}</button>
        </div>
    {{/defineElement}}

    {{#defineElement "commentEntry"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "body"}}
        <div class="{{elementName}}" data-comments-hidden={{#if ../hideComments}}true{{else}}false{{/if}}>{{this}}</div>
    {{/defineElement}}

    {{#defineElement "actions" noWith=true}}
        <div class="{{elementName}}">
            {{element "hideToggle"}}
            {{element "loadMore"}}
        </div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}"
            id="{{id}}"
            data-bsp-community-commenting
            data-bsp-community-commenting-options='{ {{#if hideComments}}"hideComments":{{hideComments}}{{/if}} }'{{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "title"}}
                {{element "commentEntry"}}
                {{element "body"}}
                {{element "actions"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
