{{#defineBlock "CommentResponse"}}

    {{#defineElement "title"}}
        <div class="Commenting-title">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "comment"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}">
            {{#defineBlockBody}}
                {{element "title"}}
                {{element "comment"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}

{{/defineBlock}}
