{{#defineBlock "ArticleMain"}}
    {{#defineElement "breadcrumbs"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "slug"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "headline"}}
        <div class="{{elementName}}" itemprop="headline">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "subHeadline"}}
        <div class="{{elementName}}" itemprop="alternativeHeadline">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "byline"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "lead"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "body"}}
        <div class="{{elementName}}" itemprop="articleBody">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "tags"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "socialSharing"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "comments"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "relatedContent"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    <article class="{{blockName}}" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article"{{extraAttributes}}>
        {{#with datePublished}}
            <meta itemprop="datePublished" content="{{this}}">
        {{/with}}

        {{#with dateModified}}
            <meta itemprop="dateModified" content="{{this}}">
        {{/with}}

        {{#defaultBlockBody}}
            {{element "breadcrumbs"}}
            {{element "slug"}}
            {{element "headline"}}
            {{element "subHeadline"}}
            {{element "byline"}}
            {{element "lead"}}
            {{element "body"}}
            {{element "tags"}}
            {{element "socialSharing"}}
            {{element "comments"}}
            {{element "relatedContent"}}
        {{/defaultBlockBody}}
    </article>
{{/defineBlock}}
