{{#defineBlock "Main"}}
    {{#defineElement "breadcrumbs"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "tags"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "sharebar"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "comments"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}
{{/defineBlock}}
