{{#defineBlock "SearchMain" extend="base/main/CreativeWorkMain"}}

    {{#defineElement "header" noWith=true}}
        <header class="{{elementName}}">
            {{element "byline"}}
            {{element "filter"}}
            {{element "sort"}}
        </header>
    {{/defineElement}}

    {{#defineElement "filter"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "sort"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "body"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <form
            method="get"
            class="{{blockName}}"
            action="{{submitAction}}"
            itemscope itemtype="https://schema.org/SearchResultsPage"
            {{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "headline"}}
                {{element "header"}}
                {{element "body"}}
            {{/defineBlockBody}}
        </form>
    {{/defineBlockContainer}}

{{/defineBlock}}
