{{#defineBlock "SearchResultMain" extend="base/main/CreativeWorkMain"}}

    {{#defineElement "filter"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "sort"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "results"}}
        <section class="{{elementName}}">{{this}}</section>
    {{/defineElement}}

    {{#defineElement "loadMore" noWith=true}}
        <div class="{{elementName}}">
            <button class="{{elementName}}-button" {{#if loadMoreAction}}formaction="{{loadMoreAction}}"{{/if}}>{{#if loadMoreLabel}}{{loadMoreLabel}}{{/if}}</button>
        </div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <form
            method="get"
            class="{{blockName}}"
            action="{{submitAction}}"
            itemscope itemtype="https://schema.org/SearchResultsPage"
            {{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "headline"}}
                {{element "byline"}}
                {{element "filter"}}
                {{element "sort"}}
                {{element "results"}}
                {{element "loadMore"}}
            {{/defineBlockBody}}
        </form>
    {{/defineBlockContainer}}

{{/defineBlock}}
