{{#defineBlock "CommentEntry"}}
    {{#defineElement "userImage" noWith=true}}
        <img class="{{elementName}}" src="{{userImageSrc}}" />
    {{/defineElement}}

    {{#defineElement "userName"}}
        <span class="{{elementName}}">{{this}}</span>
    {{/defineElement}}

    {{#defineElement "user" noWith=true}}
        <div class="{{elementName}}">
            {{element "userImage"}}
            {{element "userName"}}
        </div>
    {{/defineElement}}

    {{#defineElement "logoutButton" noWith=true}}
        <button class="{{elementName}}">{{logoutLabel}}</button>
    {{/defineElement}}

    {{#defineElement "logoutForm" noWith=true}}
        <form
            class="{{elementName}}"
            {{#if logoutAction}}action="{{logoutAction}}"{{/if}}
            {{#if logoutTarget}}target="{{logoutTarget}}"{{/if}}>
            {{element "logoutButton"}}
        </form>
    {{/defineElement}}


    {{#defineElement "inputCharacterCount"  noWith=true}}
        {{#if inputMaxlength}}<div class="{{elementName}}">{{inputMaxlength}} {{inputCharacterCountLabel}}</div>{{/if}}
    {{/defineElement}}

    {{#defineElement "input" noWith=true}}
        <div class="{{elementName}}">
            <textarea
                name="{{inputName}}"
                class="{{elementName}}-textarea"
                {{#with inputPlaceholder}}placeholder="{{this}}"{{/with}}
                {{#with inputMaxlength}}maxlength="{{this}}"{{/with}}
                aria-invalid={{#if invalid}}"true"{{else}}"false"{{/if}}
                {{#if inputRequired}}required{{/if}}>{{value}}</textarea>
            {{element "inputCharacterCount"}}
        </div>
    {{/defineElement}}


    {{#defineElement "errorMessageServer"}}
        <div class="{{elementName}}">{{{this}}}</div>
    {{/defineElement}}

    {{#defineElement "errorMessageBlank"}}
        <div class="{{elementName}}">{{{this}}}</div>
    {{/defineElement}}

    {{#defineElement "errorMessageTooLong"}}
        <div class="{{elementName}}">{{{this}}}</div>
    {{/defineElement}}

    {{#defineElement "errorMessages" noWith=true}}
        <div class="{{elementName}}">
            {{element "errorMessageServer"}}
            {{element "errorMessageBlank"}}
            {{element "errorMessageTooLong"}}
        </div>
    {{/defineElement}}


    {{#defineElement "submit" noWith=true}}
        {{#if submitAction}}
            <div class="{{elementName}}">
                <button formaction="{{submitAction}}" class="{{elementName}}-button">{{submitLabel}}</button>
            </div>
        {{/if}}
    {{/defineElement}}

    {{#defineElement "actions" noWith=true}}
        <footer class="{{elementName}}">
            {{element "submit"}}
        </footer>
    {{/defineElement}}

    {{#defineElement "form" noWith=true}}
        <form
            method="post"
            class="{{elementName}}"
            action="{{submitAction}}">
            {{element "input"}}
            {{element "errorMessages"}}
            {{element "actions"}}
        </form>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}"
            data-bsp-community-commentEntry
            data-commenting-id="{{commentingId}}"
            {{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "user"}}
                {{element "logoutForm"}}
                {{element "form"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
