{{#block "CommentActionResponse"}}
    <div class="{{blockName}}">
        {{#blockBody}}
            {{#element "title"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "comment"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "entry"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "signIn" noWith=true}}
                <div class="{{elementName}}">
                    {{#element "signInTitle"}}
                        <div class="{{elementName}}">{{this}}</div>
                    {{/element}}

                    {{#element "signInLinks"}}
                        <div class="{{elementName}}">{{this}}</div>
                    {{/element}}
                </div>
            {{/element}}
        {{/blockBody}}
    </div>
{{/block}}
