{{#block "Commenting"}}
    <div class="{{blockName}}"
        id="{{id}}"
        data-bsp-community-commenting
        data-bsp-community-commenting-options='{ {{#if showComments}}"showComments":{{showComments}}{{/if}} }'{{extraAttributes}}>

        {{#blockBody}}
            {{#element "title"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "signIn" noWith=true}}
                <div class="{{elementName}}">
                    {{#element "signInTitle"}}
                        <div class="{{elementName}}">{{this}}</div>
                    {{/element}}

                    {{#element "signInLinks"}}
                        <div class="{{elementName}}">{{this}}</div>
                    {{/element}}
                </div>
            {{/element}}

            {{#element "commentEntry"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "body"}}
                <div class="{{elementName}}" data-comments-shown={{#if ../showComments}}true{{else}}false{{/if}}>{{this}}</div>
            {{/element}}

            {{#element "actions" noWith=true}}
                <div class="{{elementName}}">
                    {{#element "hideToggle" noWith=true}}
                        {{#if textWhenVisible}}
                            <div class="{{elementName}}">
                                <button class="{{elementName}}-hideButton">{{textWhenVisible}}</button>
                                <button class="{{elementName}}-showButton">{{textWhenHidden}}</button>
                            </div>
                        {{/if}}
                    {{/element}}

                    {{#element "loadMore" noWith=true}}
                        {{#if loadMoreAction}}
                            <form class="{{elementName}}" method="get" action="{{loadMoreAction}}">
                                <button class="{{elementName}}-button">{{loadMoreLabel}}</button>
                            </form>
                        {{/if}}
                    {{/element}}
                </div>
            {{/element}}

            {{#element "errorMessages" noWith=true}}
                <div class="{{elementName}}">
                    {{#element "errorMessageServer"}}
                        <div class="{{elementName}}">{{{this}}}</div>
                    {{/element}}
                </div>
            {{/element}}
        {{/blockBody}}
    </div>
{{/block}}
