{{#defineBlock "Comment"}}
    {{#defineElement "authorImage" noWith=true}}
        <img class="{{elementName}}" src="{{authorImageSrc}}" />
    {{/defineElement}}

    {{#defineElement "authorName"}}
        <span class="{{elementName}}">{{this}}</span>
    {{/defineElement}}

    {{#defineElement "author" noWith=true}}
        <div class="{{elementName}}">
            {{element "authorImage"}}
            {{element "authorName"}}
        </div>
    {{/defineElement}}

    {{#defineElement "timeStamp" noWith="true"}}
        <time class="{{elementName}}" itemscope itemtype="http://schema.org/DateTime" datetime="{{timeStampIso}}">{{timeStampBody}}</time>
    {{/defineElement}}

    {{#defineElement "body"}}
        <div class="{{elementName}}">{{{this}}}</div>
    {{/defineElement}}

    {{#defineElement "replies" noWith=true}}
            <section class="{{elementName}}">
                {{#each replies}}{{this}}{{/each}}
            </section>
    {{/defineElement}}

    {{#defineElement "reply" noWith=true}}
        {{#if replyAction}}
            <form class="{{elementName}}" method="get" action="{{replyAction}}">
                <button class="{{elementName}}-button">{{replyLabel}}</button>
            </form>
        {{/if}}
    {{/defineElement}}

    {{#defineElement "actions" noWith=true}}
        <div class="{{elementName}}">
            {{element "reply"}}
        </div>
    {{/defineElement}}

    {{#defineElement "errorMessageServer"}}
        {{#if errorMessageServer}}<div class="{{elementName}}">{{{errorMessageServer}}}</div>{{/if}}
    {{/defineElement}}

    {{#defineElement "errorMessages" noWith=true}}
        <div class="{{elementName}}">
            {{element "errorMessageServer"}}
        </div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}"
            data-bsp-community-comment
            itemscope itemtype="http://schema.org/Comment"
            {{extraAttributes}}>

            {{#defineBlockBody}}
                {{element "author"}}
                {{element "timeStamp"}}
                {{element "body"}}
                {{element "actions"}}
                {{element "replies"}}
                {{element "errorMessages"}}
            {{/defineBlockBody}}

        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
