{{#block "CommentEntry"}}
    <div class="{{blockName}}"
        data-bsp-community-commentEntry
        data-commenting-id="{{commentingId}}"
        {{extraAttributes}}>

        {{#blockBody}}
            <div class="{{blockName}}-auth">
                {{#element "user" noWith=true}}
                    <div class="{{elementName}}">
                        {{#element "userImage" noWith=true}}
                            <img class="{{elementName}}" src="{{userImageSrc}}" />
                        {{/element}}

                        {{#element "userName"}}
                            <span class="{{elementName}}">{{this}}</span>
                        {{/element}}
                    </div>
                {{/element}}

                {{#element "logoutForm" noWith=true}}
                    <form
                        class="{{elementName}}"
                        {{#if logoutAction}}action="{{logoutAction}}"{{/if}}
                        {{#if logoutTarget}}target="{{logoutTarget}}"{{/if}}>

                        {{#element "logoutButton" noWith=true}}
                            <button class="{{elementName}}">{{logoutLabel}}</button>
                        {{/element}}
                    </form>
                {{/element}}
            </div>

            {{#element "form" noWith=true}}
                <form
                    method="post"
                    class="{{elementName}}"
                    action="{{submitAction}}">

                    {{#element "input" noWith=true}}
                        <div class="{{elementName}}">
                            <textarea
                                name="{{inputName}}"
                                class="{{elementName}}-textarea"
                                {{#with inputPlaceholder}}placeholder="{{this}}"{{/with}}
                                {{#with inputMaxlength}}maxlength="{{this}}"{{/with}}
                                aria-invalid={{#if invalid}}"true"{{else}}"false"{{/if}}
                                {{#if inputRequired}}required{{/if}}>{{value}}</textarea>

                            {{#element "inputCharacterCount"  noWith=true}}
                                {{#if inputMaxlength}}<div class="{{elementName}}">{{inputMaxlength}} {{inputCharacterCountLabel}}</div>{{/if}}
                            {{/element}}
                        </div>
                    {{/element}}

                    {{#element "errorMessages" noWith=true}}
                        <div class="{{elementName}}">
                            {{#element "errorMessageServer"}}
                                <div class="{{elementName}}">{{{this}}}</div>
                            {{/element}}

                            {{#element "errorMessageBlank"}}
                                <div class="{{elementName}}">{{{this}}}</div>
                            {{/element}}

                            {{#element "errorMessageTooLong"}}
                                <div class="{{elementName}}">{{{this}}}</div>
                            {{/element}}
                        </div>
                    {{/element}}

                    {{#element "actions" noWith=true}}
                        <footer class="{{elementName}}">
                            {{#element "submit" noWith=true}}
                                {{#if submitAction}}
                                    <div class="{{elementName}}">
                                        <button formaction="{{submitAction}}" class="{{elementName}}-button">{{submitLabel}}</button>
                                    </div>
                                {{/if}}
                            {{/element}}
                        </footer>
                    {{/element}}
                </form>
            {{/element}}
        {{/blockBody}}
    </div>
{{/block}}
