{{#block "Comment"}}
    <div class="{{blockName}}"
        data-bsp-community-comment
        itemscope itemtype="http://schema.org/Comment"
        {{extraAttributes}}>

        {{#blockBody}}
            {{#element "author" noWith=true}}
                <div class="{{elementName}}">
                    {{#element "authorImage" noWith=true}}
                        <img class="{{elementName}}" src="{{authorImageSrc}}" />
                    {{/element}}

                    {{#element "authorName"}}
                        <span class="{{elementName}}">{{this}}</span>
                    {{/element}}
                </div>
            {{/element}}

            {{#element "timeStamp" noWith="true"}}
                <time class="{{elementName}}" itemscope itemtype="http://schema.org/DateTime" datetime="{{timeStampIso}}">{{timeStampBody}}</time>
            {{/element}}

            {{#element "body"}}
                <div class="{{elementName}}">{{{this}}}</div>
            {{/element}}

            {{#element "actions" noWith=true}}
                <div class="{{elementName}}">
                    {{#element "reply" noWith=true}}
                        {{#if replyAction}}
                            <form class="{{elementName}}" method="get" action="{{replyAction}}">
                                <button class="{{elementName}}-button">{{replyLabel}}</button>
                            </form>
                        {{/if}}
                    {{/element}}
                </div>
            {{/element}}

            {{#element "replies" noWith=true}}
                <section class="{{elementName}}">
                    {{#each replies}}{{this}}{{/each}}
                </section>
            {{/element}}

            {{#element "errorMessages" noWith=true}}
                <div class="{{elementName}}">
                    {{#element "errorMessageServer"}}
                        {{#if errorMessageServer}}<div class="{{elementName}}">{{{errorMessageServer}}}</div>{{/if}}
                    {{/element}}
                </div>
            {{/element}}
        {{/blockBody}}
    </div>
{{/block}}
