{{#block "CommentLoadMoreResponse"}}
    <div class="{{blockName}}">
        {{#blockBody}}
            {{#element "comments"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "loadMore" noWith=true}}
                <div class="{{elementName}}">
                    <button class="Commenting-loadMore-button" {{#if loadMoreAction}}formaction="{{loadMoreAction}}"{{/if}}>{{loadMoreLabel}}</button>
                </div>
            {{/element}}
        {{/blockBody}}
    </div>
{{/block}}
