<div class="comments component" data-bsp-commenting>
    {{#if commentTitle}}
    <h5 class="component-title">{{render commentTitle}}<span class="comments-count">({{render commentCount}})</span></h5>
    {{/if}}

    <div class="commenting-content">

        {{#if signInText}}
        <div class="comments-sign-in">
            <div class="comments-sign-in-text">{{render signInText}}</div>
            <ul class="comments-sign-in-choices">
                {{#each signInChoices}}
                    <li>{{render this}}</li>
                {{/each}}
            </ul>
        </div>
        {{/if}}

        {{commentForm}}

        {{#if commentList}}
        <div class="comments-list-wrapper">

            <ul class="comments-list">
                {{commentList}}
            </ul>
        </div>
        {{/if}}

        {{#if commentsShowLink}}
            <div class="comments-show-all">
                {{commentsShowLink}}
            </div>
        {{/if}}
    </div>
</div>