<div class="bsp-site-wrapper{{#if wrapperClass}} {{siteWrapperClass}}{{/if}}">

    {{#with headerView}}
        {{render this}}
    {{/with}}

    <div class="bsp-site{{#if siteClass}} {{siteClass}}{{/if}}">

        {{render mainView}}

    </div>

    {{#with footerView}}
        {{render this}}
    {{/with}}

</div>