<div class="bsp-site-wrapper{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">

    {{#with headerView}}
        {{render this}}
    {{/with}}

    <div class="bsp-site" style="{{options.inlineStyle}}">

        {{render mainView}}

    </div>

    {{#with footerView}}
        {{render this}}
    {{/with}}

</div>
