<body{{#if modifierClass}} class="{{modifierClass}}"{{/if}}>
    <div class="bsp-site-wrapper">

        {{#with headerView}}
            {{render this}}
        {{/with}}

        <div class="bsp-site" style="{{inlineStyle}}">

            {{render mainView}}

        </div>

        {{#with footerView}}
            {{render this}}
        {{/with}}

    </div>
</body>