<div class="bsp-site-header-wrapper">

	{{#if tophat}}
		<div class="bsp-tophat">
			<ul class="bsp-tophat-links">
				{{#tophat.links}}
					<li><a href="{{link}}">{{text}}</a></li>
				{{/tophat.links}}
			</ul>
		</div>
	{{/if}}

	<div class="bsp-site-header" data-bsp-toggle-item>
		
		<div class="bsp-site-logo-centering">
			<h1 class="bsp-site-logo">
				<a href="#">
				<img class="" src="{{siteLogo}}" alt="Brightspot"><span class="sr-only">{{siteName}}</span>
				</a>
			</h1>
		</div>

		<div class="bsp-site-search-centering">
			<div class="bsp-site-search toggle-item">
				<form class="bsp-site-search-form">
					<input class="bsp-search-input" type="text" />
					<button class="bsp-search-submit" type="submit"><i class="icon icon-search"><span class="sr-only">Go</span></i></button>
				</form>
			</div>
		</div>

		{{#if extraLinks}}
			<div class="bsp-header-extra">
				<ul class="bsp-header-extra-links">
					{{# extraLinks}}
					<li><a class="bsp-header-extra-link" href="{{link}}">{{text}}</a></li>
					{{/ extraLinks}}
				</ul>
			</div>
		{{/if}}

		{{#if sharing}}
			<div class="bsp-share-links-centering">
				<ul class="bsp-share-links" data-bsp-share data-bsp-share-options='{"iconClass":"icon", "serviceProps":{"facebook":{"appId":"{{sharing.facebookApp}}"}}}'>
					{{#if sharing.facebook}}<li class="bsp-facebook-share"></li> {{/if}}
				    {{#if sharing.twitter}}<li class="bsp-twitter-share"></li> {{/if}}   
				    {{#if sharing.pinterest}}<li class="bsp-pinterest-share"></li> {{/if}}
				    {{#if sharing.linkedin}}<li class="bsp-linkedin-share"></li> {{/if}}
				</ul>
			</div>
		{{/if}}

		<div class="bsp-site-search-trigger toggle-trigger">
			<a href="#"><i class="icon icon-search"><span class="sr-only">show search form</span></i></a>
		</div>

	</div>

</div>