{{#link}}
	<a href="{{href}}" title="{{title}}" target="{{target}}">
		{{#if image}}
			{{#image}}
				<img src="{{src}}" alt="{{alt}}" width="{{width}}" height="{{height}}" />
			{{/image}}
		{{/if}}
		{{text}}
	</a>
{{/link}}