{{#block "Author"}}
    <div class="{{blockName}}" itemprop="author" itemscope itemtype="http://schema.org/Person"{{extraAttributes}}>
        {{#blockBody}}
            {{#element "image"}}
                <div class="{{elementName}}" itemprop="image">{{this}}</div>
            {{/element}}

            {{#element "name"}}
                <div class="{{elementName}}" itemprop="name">{{this}}</div>
            {{/element}}

            {{#element "affiliation"}}
                <div class="{{elementName}}" itemprop="affiliation">{{this}}</div>
            {{/element}}
        {{/blockBody}}
    </div>
{{/block}}
