<div class="bsp-carousel-slide{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">
    {{render this.image}}

    {{#if this.seoLink}}
        {{render this.seoLink cssClass="seo-link"}}
    {{/if}}


    <div class="bsp-carousel-gallery-slide-overlay-wrapper">
        <div class="bsp-carousel-gallery-slide-overlay-content">
            {{#if this.caption}}
                <div class="bsp-carousel-gallery-slide-caption">
                    {{#each this.caption}}
                        {{render this}}
                    {{/each}}
                </div>
            {{/if}}

            {{#with this.sharing}}
                {{render this}}
            {{/with}}

            {{#with this.tags}}
                {{render this}}
            {{/with}}
        </div>
    </div>

</div>
