<div class="promo-section{{#if type}}-{{type}}{{/if}}">
    {{#with image}}<div class="promo-image">{{render this}}</div>{{/with}}

    {{#with overlay}}
        {{render this}}
    {{/with}}

    {{#with tags}}
        {{render this}}
    {{/with}}

    {{#with title}}
        <div class="promo-title">{{render this}}</div>
    {{/with}}

    {{#with subtitle}}
        <div class="promo-subtitle">{{render this}}</div>
    {{/with}}

    {{#with description}}
        <div class="promo-desc">{{render this}}</div>
    {{/with}}

    {{#with link}}
        <div class="promo-link">{{render this}}</div>
    {{/with}}

    {{#with links}}
        <ul class="promo-links">
            {{#each this}}
                <li class="promo-link">{{render this}}</li>
            {{/each}}
        </ul>
    {{/with}}
</div>