{{#block "Figure" extend="../image/Image.hbs"}}
    <figure class="{{blockName}}" itemscope itemtype="http://schema.org/ImageObject">
        {{#blockBody}}
            {{#element "container" noWith=true}}
                {{#if credit}}
                    <div class="{{elementName}}">
                        {{element "image"}}

                        {{#element "credit"}}
                            <div class="{{elementName}}" itemprop="author">{{this}}</div>
                        {{/element}}
                    </div>
                {{else}}
                    {{element "image"}}
                {{/if}}
            {{/element}}

            {{#element "caption"}}
                <figcaption class="{{elementName}}" itemprop="caption">{{this}}</figcaption>
            {{/element}}
        {{/blockBody}}
    </figure>
{{/block}}
