{{!--
	The type attribute should only be used in ordered lists where 
	the content of the list numbers matters. CSS should be used for 
	styling at all other times.

	More info: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol
--}}
<{{#if options.ordered}}ol{{else}}ul{{/if}} {{#if options.type}}type="{{options.type}}" {{/if}}class="bsp-{{#if options.unstyled}}unstyled-{{/if}}list{{#if options.inline}}-inline{{/if}}{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">
	{{#each items}}
		<li>{{render this}}</li>
	{{/each}}
</{{#if options.ordered}}ol{{else}}ul{{/if}}>