{{#defineBlock "SideNavigation" extend="base/page/PageNavigation"}}

    {{#defineElement "footer"}}
        <footer class="{{elementName}}">{{this}}</footer>
    {{/defineElement}}

    {{#defineElement "progress" noWith=true}}
        <div class="{{elementName}}"></div>
    {{/defineElement}}

    {{#defineElement "title"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "closeButton" noWith=true}}
        <button class="{{elementName}}"></button>
    {{/defineElement}}

    {{#defineElement "header" noWith=true}}
        <header class="{{elementName}}">
            {{element "title"}}
            {{element "closeButton"}}
        </header>
    {{/defineElement}}

    {{#defineElement "navigation" noWith=true}}
        <nav class="{{elementName}}">
            {{element "items"}}
        </nav>
    {{/defineElement}}

    {{#defineBlockContainer}}

        <div class="{{blockName}}">
            {{element "progress"}}
            {{#defineBlockBody}}
            <div class="{{blockName}}-menu">
                {{element "header"}}
                {{element "navigation"}}
                {{element "footer"}}
            </div>
            {{/defineBlockBody}}
        </div>

    {{/defineBlockContainer}}
{{/defineBlock}}
