{{#defineBlock "Cluster"}}
    {{#defineElement "title"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "items"}}
        <ul class="{{elementName}}">
            {{#each this}}
                <li class="{{elementName}}-item">{{this}}</li>
            {{/each}}
        </ul>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}"{{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "title"}}
                {{element "items"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
