{{#block "Cluster"}}
    <div class="{{blockName}}"{{extraAttributes}}>
        {{#blockBody}}
            {{#element "title"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "items"}}
                <ul class="{{elementName}}">
                    {{#each this}}
                        <li class="{{elementName}}-item">{{this}}</li>
                    {{/each}}
                </ul>
            {{/element}}
        {{/blockBody}}
    </div>
{{/block}}
