<div class="Gallery-grid module{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">
    {{#with heading}}
        <div class="Gallery-grid-title">{{render this}}</div>
    {{/with}}

    <div class="Gallery-grid-content" data-bsp-toggle-item data-bsp-toggle-item-options='{"toggleItem":".Gallery-grid-gallery","toggleTrigger":".Gallery-grid-grid"}'>

        <div class="Gallery-grid-grid">
            {{#each grid}}
                {{render this}}
            {{/each}}
        </div>

        <div class="Gallery-grid-gallery">
            {{#with gallery}}
                {{render this}}
            {{/with}}
        </div>

        {{#with description}}
            <div class="Gallery-grid-description">{{render this}}</div>
        {{/with}}

    </div>

     {{#if cta}}
        <div class="Gallery-grid-cta}">
            {{#with cta}}
                {{render this}}
            {{/with}}
        </div>
    {{/if}}

</div>