<div data-bsp-carousel-gallery data-bsp-carousel-gallery-options='{
    "stage" : {
        {{#if displayOptions.dynamicSlideLoad}}"dynamicSlideLoad" : true,{{/if}}
        {{#if displayOptions.dynamicEndpoint}}"dynamicEndpoint" : "{{displayOptions.dynamicEndpoint}}",{{/if}}
        {{#if displayOptions.dynamicCount}}"dynamicCount" : "{{displayOptions.dynamicCount}}",{{/if}}
        {{#if displayOptions.disableDeepLinking}}"deepLinking" : false,{{/if}}
        {{#if displayOptions.dynamicSlideLoad}}"deepLinking" : false,{{/if}}
        {{#if displayOptions.historyManagement}}"historyManagement" : true,{{/if}}
        "themeConfig":{
            "arrows" : true
                    }
    }}'>

    <div class="Gallery-full">

        {{#if heading}}
        <div class="Gallery-full-header">
            <h2 class="Gallery-full-title">
                {{{render heading}}}
            </h2>
            {{#if description}}
                <div class="Gallery-full-desc">
                    {{render description}}
                </div>
            {{/if}}
        </div>
        {{/if}}

        <div class="bsp-carousel-gallery">
            <div class="bsp-carousel-stage">
                {{#each slides}}
                    {{render this}}
                {{/each}}
            </div>
        </div>

        <div class="Gallery-full-footer">

            {{#if displayOptions.dynamicSlideLoad}}
            {{else}}
                <div class="bsp-carousel-gallery-count-wrapper">
                    <span class="bsp-carousel-gallery-count"></span>
                </div>
            {{/if}}

            <div class="bsp-carousel-gallery-overlay-trigger">
                <span class="Gallery-full-overlay-visible">{{render showLessText}}</span>
                <span class="Gallery-full-overlay-hidden">{{render showMoreText}}</span>
            </div>

        </div>

    </div>
</div>
