<article{{extraAttributes}} class="Article {{#if displayOptions.modifierClass}}{{displayOptions.modifierClass}}{{/if}}" itemscope="" itemtype="http://schema.org/Article">
    <meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="{{this.canonicalUrl}}"/>

    {{#with image}}
        <div class="Article-image">
            <img src="{{this}}" itemprop="image" itemscope itemtype="https://schema.org/ImageObject" />
        </div>
    {{/with}}

    {{#if breadcrumbs}}
        <div class="Article-breadcrumbs">
            <ol class="Article-breadcrumbs-list" itemscope itemtype="http://schema.org/BreadcrumbList">
                {{#each breadcrumbs as |breadcrumb|}}
                    <li class="Article-breadcrumbs-list-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        {{breadcrumb.title}}
                    </li>
                {{/each}}
            </ol>
        </div>
    {{/if}}

    {{#with slug}}
        <div class="Article-slug">
            {{this}}
        </div>
    {{/with}}

    {{#with tagList}}
        <div class="Article-tags">
            {{this}}
        </div>
    {{/with}}

    {{#with headline}}
        <div class="Article-headline" itemprop="headline">
            {{this}}
        </div>
    {{/with}}

    {{#with subHeadline}}
        <div class="Article-subHeadline">
            {{{this}}}
        </div>
    {{/with}}

    {{#with author}}
        <div class="Article-byline">
            {{this}}
        </div>
    {{/with}}

    {{#if datePublished}}
        <time class="Article-datePublished" itemprop="datePublished" dateTime="{{datePublishedISO}}">{{datePublished}}</time>
    {{/if}}

</article>
