<div class="Author" itemscope="" itemprop="author" itemtype="http://schema.org/Person">

    {{#with prefix}}
        <div class="Author-prefix">{{this}}</div>
    {{/with}}

    {{#with image}}
        <div class="Author-image">
            <img src="{{this}}" itemprop="image" />
        </div>
    {{/with}}

    {{#with name}}
        <div class="Author-name" itemprop="name">
            {{this}}
        </div>
    {{/with}}

    {{#with affiliation}}
        <div class="Author-affiliation" itemprop="affiliation">
            {{this}}
        </div>
    {{/with}}

    {{#with suffix}}
        <div class="Author-suffix">{{this}}</div>
    {{/with}}

</div>
