<div class="Blockquote Module{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">
    {{#with heading}}
        <div class="Blockquote-title">{{render this}}</div>
    {{/with}}
    <blockquote>
        <span class="Blockquote-content" style="{{#if displayOptions.contentColor}}color: {{displayOptions.contentColor}}{{/if}}">{{content}}</span>
        {{#if author}}<span class="Blockquote-author" style="{{#if displayOptions.authorColor}}color: {{displayOptions.authorColor}}{{/if}}">{{author}}</span>{{/if}}
    </blockquote>
    {{#if cta}}
        <div class="Blockquote-cta}">
            {{#with cta}}
                {{render this}}
            {{/with}}
        </div>
    {{/if}}
</div>