<div class="callout module{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">
    {{#with heading}}
        <div class="callout-title">{{render this}}</div>
    {{/with}}

    <div class="callout-content">
        {{render calloutContent}}
    </div>

    {{#if cta}}
        <div class="callout-cta {{#if displayOptions.ctaLocation}}cta-{{displayOptions.ctaLocation}}{{/if}}">
            {{#with cta}}
                {{render this}}
            {{/with}}
        </div>
    {{/if}}
</div>