<div class="gallery-module {{#if displayOptions.textNav}}gallery-module-nav{{else}}gallery-module-thumbs{{/if}} module{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">
	{{#if heading}}
        <h3 class="gallery-module-title">{{render heading}}</h3>
    {{/if}}

	<div class="gallery-module-content" data-bsp-carousel-thumbnav data-bsp-carousel-thumbnav-options='{
        "stage" : {
            {{#if displayOptions.dynamicSlideLoad}}"dynamicSlideLoad" : true,{{/if}}
            {{#if displayOptions.dynamicEndpoint}}"dynamicEndpoint" : "{{displayOptions.dynamicEndpoint}}",{{/if}}
            {{#if displayOptions.dynamicCount}}"dynamicCount" : "{{displayOptions.dynamicCount}}",{{/if}}
            "themeConfig" : {
                "dots": true,
                "arrows" : true
            }
        },
        "nav": {
            {{#if displayOptions.dynamicSlideLoad}}"dynamicSlideLoad" : true,{{/if}}
            {{#if displayOptions.dynamicEndpointNav}}"dynamicEndpoint" : "{{displayOptions.dynamicEndpointNav}}",{{/if}}
            {{#if displayOptions.dynamicCount}}"dynamicCount" : "{{displayOptions.dynamicCount}}",{{/if}}
            "themeConfig" : {
                "slidesToShow" : {{#if displayOptions.thumbnailsToShow}}{{displayOptions.thumbnailsToShow}}{{else}}4{{/if}},
                "centerMode" : false
            }
        }}'>
		<div class="bsp-carousel-stage">

			{{render gallerySlides}}

		</div>
		<div class="bsp-carousel-nav">

            {{render galleryNavItems}}

		</div>
	</div>

	{{#if cta}}
        <div class="gallery-module-cta {{#if displayOptions.ctaLocation}}cta-{{displayOptions.ctaLocation}}{{/if}}">
            {{#with cta}}
                {{render this}}
            {{/with}}
        </div>
    {{/if}}
</div>
