<div class="promo module{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}" {{#if loadMore}}data-bsp-ajax-links data-bsp-ajax-links-options='{"loadType":"loadMore"}'{{/if}}>
    {{#with heading}}
        <div class="promo-title">{{render this}}</div>
    {{/with}}

    <div class="promo-content">

        <ul class="promo-list {{#if displayOptions.horizontalSplit}}row{{/if}}">
            {{#each listItems}}
                <li class="{{#if ../displayOptions.horizontalSplit}}column-{{../displayOptions.horizontalSplit}}{{/if}}">
                    {{render this}}
                </li>
            {{/each}}
        </ul>

    </div>

    {{#if cta}}
        <div class="promo-cta}">
            {{#with cta}}
                {{render this}}
            {{/with}}
        </div>
    {{/if}}

</div>