<div class="SearchResults{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}" {{#if loadMore}}data-bsp-ajax-links data-bsp-ajax-links-options='{"loadType":"loadMore"}'{{/if}}>
    {{#with heading}}
        <div class="SearchResults-title">
            {{render this}}
        </div>
        <div class="SearchResults-filter">
            {{render searchResultsSort}}
        </div>
    {{/with}}

    <div class="SearchResults-content">
        {{render searchResults}}
    </div>

    {{#if cta}}
        <div class="SearchResults-cta">
            {{#with cta}}
                {{render this}}
            {{/with}}
        </div>
    {{/if}}

</div>