<div class="search-results module{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}" {{#if loadMore}}data-bsp-ajax-links data-bsp-ajax-links-options='{"loadType":"loadMore"}'{{/if}}>
    {{#with heading}}
        <div class="search-results-title">
            {{render this}}
            {{render searchResultsSort}}
        </div>

    {{/with}}

    <div class="search-results-content">
        {{render searchResults}}
    </div>

    {{#if cta}}
        <div class="search-results-cta}">
            {{#with cta}}
                {{render this}}
            {{/with}}
        </div>
    {{/if}}

</div>