<div class="social-feed Module{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}" {{#if loadMore}}data-bsp-ajax-links data-bsp-ajax-links-options='{"loadType":"loadMore"}'{{/if}}>
    {{#with heading}}
        <div class="social-feed-title">{{render this}}</div>
    {{/with}}

    <div class="social-feed-content">
        <ul class="social-feed-list {{#if displayOptions.horizontalSplit}}row{{/if}}">
            {{#each items}}
                <li class="{{#if ../displayOptions.horizontalSplit}}column-{{../displayOptions.horizontalSplit}}{{/if}}">
                    {{render this}}
                </li>
            {{/each}}
        </ul>
    </div>

    {{#if cta}}
        <div class="social-feed-cta}">
            {{#with cta}}
                {{render this}}
            {{/with}}
        </div>
    {{/if}}
</div>