{{#defineBlock "CommentLoadMoreResponse"}}

    {{#defineElement "comments"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "loadMore" noWith=true}}
        <div class="{{elementName}}">
            <button class="Commenting-loadMore-button" {{#if loadMoreAction}}formaction="{{loadMoreAction}}"{{/if}}>{{loadMoreButton}}</button>
        </div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}">
            {{#defineBlockBody}}
                {{element "comments"}}
                {{element "loadMore"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}

{{/defineBlock}}
