<div class="bsp-component">
	{{#if title}}
		<h3 class="bsp-component-title">{{title}}</h1>
	{{/if}}

	<div class="bsp-component-content">

		<div class="bsp-table-wrapper">
			<table class="bsp-table{{#with options}}{{> (lookup . '_template')}}{{/with}}">
				{{#if headings}}
					<thead>
						{{#each headings}}
							<th class="col-{{@key}}">
								{{#if link.attributes}}
								    {{#with link}}
								        {{> (lookup . '_template') }}
								    {{/with}}
								{{/if}}
								{{#if text}}
								    {{{this.text}}}
								{{/if}}
							</th>
						{{/each}}
					</thead>
				{{/if}}
				<tbody>
					{{#each rows}}
						<tr class="row-{{@key}}">
							{{#each row}}
								<td class="col-{{@key}}">
									{{#if link.attributes}}
									    {{#with link}}
									        {{> (lookup . '_template') }}
									    {{/with}}
									{{/if}}
									{{#if image}}
									    {{#with image}}
									        {{> (lookup . '_template')}}
									    {{/with}}
									{{/if}}
									{{#if text}}
									    {{{this.text}}}
									{{/if}}						
								</td>
							{{/each}}
						</tr>
					{{/each}}			
				</tbody>
					
			</table>
		</div>

	</div>

	{{#if ctaText}}
		<div class="bsp-component-cta">
			<a href="{{ctaLink}}">{{ctaText}}</a>
		</div>	
	{{/if}}	

</div>

