<div class="bsp-component bsp-table-component{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">
	{{#if title}}
		<h3 class="bsp-component-title">{{render this.title}}</h3>
	{{/if}}

	<div class="bsp-component-content">

		<div class="bsp-table-wrapper">
			<table class="bsp-table{{#with options}}{{#if this.textAlignment}} {{this.textAlignment}}{{/if}}{{#if this.fullWidth}} full-width{{/if}}{{#if this.fixedColWidth}} fixed-col-width{{/if}}{{#if this.verticalAlignment}} {{this.verticalAlignment}}{{/if}}{{#if this.verticalStripes}} vertical-stripes{{/if}}{{#if this.horizontalStripes}} horizontal-stripes{{/if}}{{#if this.theme}} {{this.theme}}{{/if}}{{/with}}"{{#if options.sort}} data-bsp-table-sort{{/if}}>
				{{#if headings}}
					<thead>
						{{#each headings}}
							<th class="col-{{@index}}">
								{{#each this}}
									{{render this}}
								{{/each}}
							</th>
						{{/each}}
					</thead>
				{{/if}}
				<tbody>
					{{#each rows}}
						<tr class="row-{{@index}}">
							{{#each row}}
                                {{!-- each column has the associated heading as a data attribute to support mobile responsive tables --}}
								<td data-label="{{#if ../../options.sort}}
                                    {{#with (lookup ../../../headings @index)}}{{#each this}}{{render body}}{{/each}}{{/with}}
                                {{else}}
                                    {{#with (lookup ../../../headings @index)}}{{#each this}}{{render this}}{{/each}}{{/with}}
                                {{/if}}" class="col-{{@index}}">
									{{#each this}}
										{{render this}}
									{{/each}}
								</td>
							{{/each}}
						</tr>
					{{/each}}
				</tbody>

			</table>
		</div>

	</div>

	{{#with cta}}
		<div class="bsp-component-cta {{#if options.location}}cta-{{options.location}}{{/if}}">
			{{render content}}
		</div>
	{{/with}}

</div>

