{{#block "Gallery"}}
    <section class="{{blockName}}"
        itemscope itemtype="https://schema.org/ImageGallery"
        {{#with id}} id="{{this}}" {{/with}}
        {{#with singleton}} data-singleton="{{this}}" {{/with}}
        {{#with introBackgroundImageSrc}} data-introBackgroundImageSrc="{{this}}" {{/with}}>

        {{#blockBody}}
            {{#unless singleton}}
                {{#element "intro" noWith=true}}
                    <div class="{{elementName}}">
                        <div class="{{elementName}}-card">
                            <div class="{{elementName}}-title" {{#with introTitleShort}} data-shorttext="{{this}}"{{/with}} itemprop="headline">
                                {{#with introTitle}}<span>{{this}}</span>{{/with}}
                            </div>
                            <div class="{{elementName}}-description" {{#with introDescriptionShort}} data-shorttext="{{this}}"{{/with}} itemprop="description">
                                {{#with introDescription}}<span>{{this}}</span>{{/with}}
                            </div>
                        </div>
                    </div>
                {{/element}}

                {{#element "controls" noWith=true}}
                    <div class="{{elementName}}">
                        <span class="{{elementName}}-count"></span>
                        <span class="{{elementName}}-buttons">
                            <button class="{{elementName}}-buttons-list"><span>List</span></button>
                            <button class="{{elementName}}-buttons-tiles"><span>Tiles</span></button>
                        </span>
                    </div>
                {{/element}}
            {{/unless}}

            {{#element "slides" noWith=true}}
                <div class="{{elementName}}">
                    {{#each slides}}{{this}}{{/each}}
                </div>
            {{/element}}

            {{#element "modal" noWith=true}}
                <div class="{{elementName}}">
                    {{#element "modalControls" noWith=true}}
                        <div class="{{elementName}}">
                            {{#element "modalControlsClose" noWith=true}}
                                <button class="{{elementName}}"><span>Close</span></button>
                            {{/element}}

                            {{#element "modalControlsFullscreen" noWith=true}}
                                <button class="{{elementName}}"><span>Fullscreen</span></button>
                            {{/element}}

                            {{#element "modalControlsPrev" noWith=true}}
                                <button class="{{elementName}}"><span>Previous</span></button>
                            {{/element}}

                            {{#element "modalControlsNext" noWith=true}}
                                <button class="{{elementName}}"><span>Next</span></button>
                            {{/element}}

                            {{#element "modalControlsCount" noWith=true}}
                                <span class="{{elementName}}"></span>
                            {{/element }}

                            {{#element "modalControlsInfo" noWith=true}}
                                <button class="{{elementName}}"><span>Info</span></button>
                            {{/element}}
                        </div>
                    {{/element}}

                    {{#element "modalCarousel" noWith=true}}
                        <div class="{{elementName}}"></div>
                    {{/element}}
                </div>
            {{/element}}
        {{/blockBody}}
    </section>
{{/block}}
