{{#defineElement "image"}}
    <div class="Author-image" itemprop="image">{{this}}</div>
{{/defineElement}}

{{#defineElement "name"}}
    <div class="Author-name" itemprop="name">{{this}}</div>
{{/defineElement}}

{{#defineElement "affiliation"}}
    <div class="Author-affiliation" itemprop="affiliation">{{this}}</div>
{{/defineElement}}

<div class="Author" itemprop="author" itemscope itemtype="http://schema.org/Person"{{extraAttributes}}>
    {{#overridable}}
        {{element "image"}}
        {{element "name"}}
        {{element "affiliation"}}
    {{/overridable}}
</div>
