{{#defineBlock "Author"}}
    {{#defineElement "image"}}
        <div class="{{elementName}}" itemprop="image">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "name"}}
        <div class="{{elementName}}" itemprop="name" rel="author">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "affiliation"}}
        <div class="{{elementName}}" itemprop="affiliation">{{this}}</div>
    {{/defineElement}}

    <div class="{{blockName}}" itemscope itemtype="http://schema.org/Person"{{extraAttributes}}>
        {{#defaultBlockBody}}
            {{element "image"}}
            {{element "name"}}
            {{element "affiliation"}}
        {{/defaultBlockBody}}
    </div>
{{/defineBlock}}
