{{#defineBlock "CommentEntry"}}
    {{#defineElement "author"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "input" noWith="true"}}
        <div class="{{elementName}}">{{input}}</div>
    {{/defineElement}}

    {{#defineElement "footer"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    <div class="{{blockName}}">
        {{#defaultBlockBody}}
            {{element "author"}}
            {{element "input"}}
            {{element "footer"}}
        {{/defaultBlockBody}}
    </div>
{{/defineBlock}}
