{{#defineBlock "Comment"}}
    {{#defineElement "author"}}
        <div class="{{elementName}}" itemprop="author">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "time"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "body"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "actions"}}
        <footer class="{{elementName}}">{{this}}</footer>
    {{/defineElement}}

    <div class="{{blockName}}"
        data-comment-id="{{id}}"
        {{#if parentId}}data-in-reply-to="{{parentId}}"{{/if}}
        {{#if threadDepth}}data-thread-depth="{{threadDepth}}"{{/if}}
        {{#if isStaff}}data-by-staff{{/if}}
        itemscope itemtype="http://schema.org/Comment"
        {{extraAttributes}}>
        {{#defaultBlockBody}}
            {{element "author"}}
            {{element "time"}}
            {{element "body"}}
            {{element "actions"}}
        {{/defaultBlockBody}}
    </div>
{{/defineBlock}}
