{{#defineBlock "CommentEntry"}}
    {{#defineElement "user"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "headline"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "subheadline"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "input" noWith="true"}}
        <div class="{{elementName}}">{{input}}</div>
    {{/defineElement}}

    {{#defineElement "actions"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    <div class="{{blockName}}">
        {{#defaultBlockBody}}
            {{element "user"}}
            {{element "headline"}}
            {{element "subheadline"}}
            {{element "input"}}
            {{element "actions"}}
        {{/defaultBlockBody}}
    </div>
{{/defineBlock}}
