{{#defineBlock "Comment"}}
    {{#defineElement "author"}}
        <div class="{{elementName}}" itemprop="author">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "time"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "body"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "actionBar"}}
        <footer class="{{elementName}}">{{this}}</footer>
    {{/defineElement}}

    {{#defineElement "replies"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    <div class="{{blockName}}" itemscope itemtype="http://schema.org/Comment">
        {{#defaultBlockBody}}
            {{element "author"}}
            {{element "time"}}
            {{element "body"}}
            {{element "actionBar"}}
            {{element "replies"}}
        {{/defaultBlockBody}}
    </div>
{{/defineBlock}}
