{{#defineBlock "Commenting"}}
    {{#defineElement "header"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "body"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "footer"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    <div class="{{blockName}}"
        data-bsp-community-commenting{{extraAttributes}}
        data-bsp-community-commenting-options='{ {{#if showCommentsInitially}}"showCommentsInitially":{{showCommentsInitially}}{{/if}} }'>
        {{#defaultBlockBody}}
            {{element "header"}}
            {{element "body"}}
            {{element "footer"}}
        {{/defaultBlockBody}}
    </div>
{{/defineBlock}}
