{{#defineBlock "GalleryIntro"}}

    {{#defineElement "titleShort"}}data-shorttext="{{this}}"{{/defineElement}}
    {{#defineElement "title" noWith=true}}
        <div class="{{elementName}}" {{element "titleShort"}} itemprop="headline">
            <span>{{title}}</span>
        </div>
    {{/defineElement}}
    
    {{#defineElement "descriptionShort"}}data-shorttext="{{this}}"{{/defineElement}}
    {{#defineElement "description" noWith=true}}
        <div class="{{elementName}}" {{element "descriptionShort"}} itemprop="description">
            <span>{{description}}</span>
        </div>
    {{/defineElement}}
    
    {{#defineBlockContainer}}
        <div class="{{blockName}}" {{extraAttributes}}>

            {{#defineBlockBody}}
                {{element "title"}}
                {{element "description"}}
            {{/defineBlockBody}}
            
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
