{{#defineBlock "Gallery"}}

    {{#defineElement "intro"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "controls" noWith=true}}
        <div class="{{elementName}}">
            <span class="{{elementName}}-count"></span>
            <span class="{{elementName}}-buttons">
                <button class="{{elementName}}-buttons-list"><span>List</span></button>
                <button class="{{elementName}}-buttons-tiles"><span>Tiles<span></button>
            </span>
        </div>
    {{/defineElement}}

    {{#defineElement "slides" noWith=true}}
        <div class="{{elementName}}">
            {{#each slides}}{{this}}{{/each}}
        </div>
    {{/defineElement}}

    {{#defineElement "modalControls" noWith=true}}
        <div class="{{elementName}}">
            <button class="{{elementName}}-close"><span>Close</span></button>
            <button class="{{elementName}}-prev"><span>Previous</span></button>
            <span class="{{elementName}}-count"></span>
            <button class="{{elementName}}-next"><span>Next</span></button>
            <button class="{{elementName}}-info"><span>Info</span></button>
        </div>
    {{/defineElement}}
    
    {{#defineElement "modalCarousel" noWith=true}}
        <div class="{{elementName}}"></div>
    {{/defineElement}}
    
    {{#defineElement "modal" noWith=true}}
        <div class="{{elementName}}">
            {{element "modalControls"}}
            {{element "modalCarousel"}}
        </div>
    {{/defineElement}}
    
    {{#defineBlockContainer}}
        <section class="{{blockName}}" data-bsp-gallery-list data-bsp-gallery-list-options="{ {{#if introBackgroundImage}}&quot;introBackgroundImage&quot;:&quot;{{introBackgroundImage}}&quot;{{/if}} }" {{extraAttributes}}>

            {{#defineBlockBody}}
                {{element "intro"}}
                {{element "controls"}}
                {{element "slides"}}
                {{element "modal"}}
            {{/defineBlockBody}}
            
        </section>
    {{/defineBlockContainer}}
{{/defineBlock}}
