{{#defineBlock "GallerySlide"}}

    {{#defineElement "media"}}
        <div class="{{elementName}}">
            <button title="Increase image size" class="{{elementName}}-zoom">Zoom</button>
            {{this}}
        </div>
    {{/defineElement}}

    {{#defineElement "infoTitle"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "infoDescription"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "infoAttribution"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}
    
    {{#defineElement "info" noWith=true}}
        <div class="{{elementName}}">
            {{element "infoTitle"}}
            {{element "infoDescription"}}
            {{element "infoAttribution"}}
        </div>
    {{/defineElement}}
    
    {{#defineBlockContainer}}
        <div class="{{blockName}}" {{extraAttributes}}>

            {{#defineBlockBody}}
                {{element "media"}}
                {{element "info"}}
            {{/defineBlockBody}}
            
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
