{{#defineBlock "Gallery"}}

    {{#defineElement "intro"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "controls" noWith=true}}
        <div class="{{elementName}}">
            <span class="{{elementName}}-count"></span>
            <span class="{{elementName}}-buttons">
                <a href="#" class="{{elementName}}-buttons-list">List</a>
                <a href="#" class="{{elementName}}-buttons-tiles">Tiles</a>
            </span>
        </div>
    {{/defineElement}}

    {{#defineElement "slides" noWith=true}}
        <div class="{{elementName}}">
            {{#each slides}}{{this}}{{/each}}
        </div>
    {{/defineElement}}

    {{#defineElement "modalControls" noWith=true}}
        <div class="{{elementName}}">
            <a href="#" class="{{elementName}}-close">Close</a>
            <a href="#" class="{{elementName}}-prev">Previous</a>
            <span class="{{elementName}}-count"></span>
            <a href="#" class="{{elementName}}-next">Next</a>
            <a href="#" class="{{elementName}}-info">Info</a>
        </div>
    {{/defineElement}}
    
    {{#defineElement "modalCarousel" noWith=true}}
        <div class="{{elementName}}"></div>
    {{/defineElement}}
    
    {{#defineElement "modal" noWith=true}}
        <div class="{{elementName}}">
            {{element "modalControls"}}
            {{element "modalCarousel"}}
        </div>
    {{/defineElement}}
    
    {{#defineBlockContainer}}
        <section class="{{blockName}}" data-bsp-gallery-list data-bsp-gallery-list-options="{ {{#if introBackgroundImage}}&quot;introBackgroundImage&quot;:&quot;{{introBackgroundImage}}&quot;{{/if}} }" {{extraAttributes}}>

            {{#defineBlockBody}}
                {{element "intro"}}
                {{element "controls"}}
                {{element "slides"}}
                {{element "modal"}}
            {{/defineBlockBody}}
            
        </section>
    {{/defineBlockContainer}}
{{/defineBlock}}
