{{#block "Page"}}
    <!DOCTYPE html>
    <html class="{{blockName}}" itemscope itemtype="http://schema.org/WebPage"{{extraAttributes}}>
        {{#blockBody}}
            {{#element "head" noWith=true}}
                <head>
                    <meta charset="UTF-8">
                    <link rel="stylesheet" type="text/css" href="/styleguide/All.min.css">
                    {{#if title}}<title>{{title}}</title>{{/if}}
                    {{#if canonicalLink}}<link rel="canonical" href="{{canonicalLink}}">{{/if}}
                    {{#if description}}<meta name="description" content="{{description}}" />{{/if}}
                    {{#if keywords}}<meta name="keywords" content="{{keywords}}" />{{/if}}
                    {{#with headItems}}{{this}}{{/with}}
                    <script type="application/javascript" src="/styleguide/All.min.js"></script>
                </head>
            {{/element}}

            {{#element "body"}}
                <body class="{{elementName}}">
                    {{this}}
                </body>
            {{/element}}
        {{/blockBody}}
    </html>
{{/block}}
