{{#block "PageFooter"}}
    <footer class="{{blockName}}" itemscope itemtype="https://schema.org/WPFooter"{{extraAttributes}}>
        {{#blockBody}}
            {{#element "logo"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "promo"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "navigation"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "socialLinks"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "copyright"}}
                <small class="{{elementName}}">{{this}}</small>
            {{/element}}
        {{/blockBody}}
    </footer>
{{/block}}
