{{#block "PageNavigation"}}
    <nav class="{{blockName}}" {{#if active}}data-is-active{{/if}} itemscope itemtype="http://schema.org/SiteNavigationElement"{{extraAttributes}}>
        {{#blockBody}}
            {{#element "label"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "items"}}
                <ul class="{{elementName}}">
                {{#each this}}
                  <li class="{{elementName}}-item">{{this}}</li>
                {{/each}}
                </ul>
            {{/element}}
        {{/blockBody}}
    </nav>
{{/block}}
