{{#defineBlock "ListPromoItem"}}
    {{#defineElement "image"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "content"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    <div class="{{blockName}}"{{extraAttributes}}>
        {{#defaultBlockBody}}
            {{element "image"}}
            {{element "content"}}
        {{/defaultBlockBody}}
    </div>
{{/defineBlock}}
