{{#defineBlock "ListPromo"}}
    {{#defineElement "title"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "items"}}
        <ul class="{{elementName}}">
            {{#each this}}
                <li class="{{elementName}}-item">{{this}}</li>
            {{/each}}
        </ul>
    {{/defineElement}}

    {{#defineElement "cta"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    <div class="{{blockName}}"{{extraAttributes}}>
        {{#defaultBlockBody}}
            {{element "title"}}
            {{element "items"}}
            {{element "cta"}}
        {{/defaultBlockBody}}
    </div>
{{/defineBlock}}
