{{#defineElement "title"}}
    <div class="ListPromo-title">{{this}}</div>
{{/defineElement}}

{{#defineElement "items"}}
    <ul class="ListPromo-items">
        {{#each this}}
            <li class="ListPromo-items-item">{{this}}</li>
        {{/each}}
    </ul>
{{/defineElement}}

{{#defineElement "cta"}}
    <div class="ListPromo-cta">{{this}}</div>
{{/defineElement}}

<div class="ListPromo">
    {{#overridable}}
        {{element "title"}}
        {{element "items"}}
        {{element "cta"}}
    {{/overridable}}
</div>
