{{#block "Freeform"}}
    <div class="{{blockName}}"{{#with background}} style="background:{{this}}"{{/with}}{{extraAttributes}}>
        {{#blockBody}}
            {{#element "items"}}
                <div class="{{elementName}}">
                    {{#each this}}
                        <div class="{{elementName}}-item">{{this}}</div>
                    {{/each}}
                </div>
            {{/element}}
        {{/blockBody}}
    </div>
{{/block}}
