{{#defineBlock "Freeform"}}
    {{#defineElement "items"}}
        <div class="{{elementName}}" {{#if ../overlay}}data-overlay{{/if}}>
            {{#each this}}
                <div class="{{elementName}}-item">{{this}}</div>
            {{/each}}
        </div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}"{{#with background}} style="background:{{this}}"{{/with}}{{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "items"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
