{{#block "ArticleMain" extend="../CreativeWorkMain.hbs"}}
    <article class="{{blockName}}" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article"{{extraAttributes}}>
        {{element "meta"}}

        {{#blockBody}}
            {{element "breadcrumbs"}}
            {{element "preHeadline"}}
            {{element "headline"}}
            {{element "subHeadline"}}
            {{element "byline"}}
            {{element "authors"}}
            {{element "datePublished"}}
            {{element "dateModified"}}

            {{#element "lead"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "body"}}
                <div class="{{elementName}}" itemprop="articleBody">
                    {{this}}
                </div>
            {{/element}}

            {{element "tags"}}
            {{element "sharebar"}}
            {{element "comments"}}
        {{/blockBody}}
    </article>
{{/block}}
