{{#block "ListicleItem"}}
    <div class="{{blockName}}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        {{#blockBody}}
            {{#element "headline"}}
                <div class="{{elementName}}" itemprop="name">{{this}}</div>
            {{/element}}

            {{#element "description"}}
                <div class="{{elementName}}" itemprop="description">{{this}}</div>
            {{/element}}

            {{#element "image"}}
                <div class="{{elementName}}" itemprop="image">{{this}}</div>
            {{/element}}
        {{/blockBody}}
    </div>
{{/block}}
