{{#block "Promo"}}
    <div class="{{blockName}}"{{extraAttributes}}>
        {{#blockBody}}
            {{#element "category"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "title"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "media"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "description"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            {{#element "cta"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}
        {{/blockBody}}
    </div>
{{/block}}
