{{!--
    The type attribute should only be used in ordered lists where
    the content of the list numbers matters. CSS should be used for
    styling at all other times.

    More info: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol
--}}
<{{#if displayOptions.ordered}}ol{{else}}ul{{/if}} {{#if type}}type="{{type}}" {{/if}}class="{{#if displayOptions.unstyled}}unstyled-{{/if}}list{{#if displayOptions.inline}}-inline{{/if}}{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">
    {{#each items}}
        <li{{#if this.displayOptions.modifierClass}} class="{{this.displayOptions.modifierClass}}"{{/if}}>{{render this}}</li>
    {{/each}}
</{{#if displayOptions.ordered}}ol{{else}}ul{{/if}}>
