{{#defineBlock "Page.hbs"}}
    {{#defineElement "head"}}
        <head>
            {{this}}
        </head>
    {{/defineElement}}

    {{#defineElement "body"}}
        <body class="{{elementName}}">
            {{this}}
        </body>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <!DOCTYPE html>
        <html class="{{blockName}}" itemscope itemtype="http://schema.org/WebPage"{{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "head"}}
                {{element "body"}}
            {{/defineBlockBody}}
        </html>
    {{/defineBlockContainer}}
{{/defineBlock}}
