{{#defineBlock "PageHeader.hbs"}}

    {{#defineElement "logo"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "navigation"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "search"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <header class="{{blockName}}" itemscope itemtype="http://schema.org/WPHeader"{{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "logo"}}
                {{element "navigation"}}
                {{element "search"}}
            {{/defineBlockBody}}
        </header>
    {{/defineBlockContainer}}
{{/defineBlock}}
