{{#defineBlock "PageHeader"}}

    {{#defineElement "logo"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "navigation"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "search"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <header class="{{blockName}}" itemscope itemtype="http://schema.org/WPHeader"{{extraAttributes}}>
            {{#defineBlockBody}}
                <div class="{{blockName}}-container">
                    {{element "logo"}}
                    {{element "navigation"}}
                    {{element "search"}}
                </div>
            {{/defineBlockBody}}
        </header>
    {{/defineBlockContainer}}
{{/defineBlock}}
