{{#defineBlock "ValidationError"}}

    {{#defineElement "message"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div
            class="{{blockName}}"
            {{#if type}}data-error-type="{{type}}"{{/if}}
            {{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "message"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}

{{/defineBlock}}
