{{#block "Image"}}
    <div class="{{blockName}}">
        {{#blockBody}}
            {{#element "image" noWith=true}}
                <img class="{{elementName}}" src="{{src}}" alt="{{alt}}"{{#with srcset}} srcset="{{this}}"{{/with}}{{#with width}} width="{{this}}"{{/with}}{{#with height}} height="{{this}}"{{/with}} />
            {{/element}}
        {{/blockBody}}
    </div>
{{/block}}
