{{#defineBlock "VideoMain" extend="../CreativeWorkMain.hbs"}}

    {{#defineElement "videoPlayer"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "playlist"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "description"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        {{#defineBlockBody}}
            <article class="{{blockName}}"
                itemprop="mainEntity" itemscope {{#if playlist}}itemtype="https://schema.org/VideoObject"{{/if}}
                {{#if permalink}}data-permalink="{{permalink}}"{{/if}}
                {{#if preventSkippingAds}}data-prevent-skipping-ads="{{preventSkippingAds}}"{{/if}}
                {{extraAttributes}}>
                {{element "videoPlayer"}}
                <aside class="{{blockName}}-content"
                    {{#if videoHLS}}data-videoUrl="{{{videoHLS}}}"{{/if}}
                    {{#if videoSeekTime}}data-video-seek-time="{{videoSeekTime}}"{{/if}}>
                    {{element "tags"}}
                    {{element "headline"}}
                    {{element "authors"}}
                    {{element "description"}}
                    {{element "sharebar"}}
                </aside>
                {{element "playlist"}}
            </article>
        {{/defineBlockBody}}
    {{/defineBlockContainer}}

{{/defineBlock}}
