{{#block "VideoMain" extend="../CreativeWorkMain.hbs"}}
    <article class="{{blockName}}"
        itemprop="mainEntity" itemscope {{#if playlist}}itemtype="https://schema.org/VideoObject"{{/if}}
        {{#if permalink}}data-permalink="{{permalink}}"{{/if}}
        {{#if preventSkippingAds}}data-prevent-skipping-ads="{{preventSkippingAds}}"{{/if}}
        {{extraAttributes}}>

        {{#blockBody}}
            {{#element "videoPlayer"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}

            <aside class="{{blockName}}-content"
                {{#if videoHLS}}data-videoUrl="{{{videoHLS}}}"{{/if}}
                {{#if videoSeekTime}}data-video-seek-time="{{videoSeekTime}}"{{/if}}>
                {{element "preHeadline"}}
                <h1>{{element "headline"}}</h1>
                {{element "subHeadline"}}

                {{#element "description"}}
                    <div class="{{elementName}}">{{this}}</div>
                {{/element}}

                {{element "sharebar"}}
            </aside>

            {{#element "playlist"}}
                <div class="{{elementName}}">{{this}}</div>
            {{/element}}
        {{/blockBody}}
    </article>
{{/block}}
