{{#defineBlock "TextAreaInput" extend="base/form/InputMain"}}

    {{#defineElement "input" noWith=true}}
        <textarea
            type="text"
            class="{{elementName}}"
            {{#with placeholder}}placeholder="{{this}}"{{/with}}
            {{#with autofocus}}autofocus="{{this}}"{{/with}}
            {{#with minlength}}minlength="{{this}}"{{/with}}
            {{#with maxlength}}maxlength="{{this}}"{{/with}}
            aria-invalid={{#if invalid}}"true"{{else}}"false"{{/if}}
            {{#if required}}required{{/if}}>{{value}}</textarea>
    {{/defineElement}}

    {{#defineElement "characterCountdown"}}
        <div class="{{elementName}}">{{../maxlength}} {{this}}</div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}" data-bsp-form-textAreaInput>

            {{#defineBlockBody}}
                {{element "input"}}
                {{element "label"}}
                {{#if maxlength}}{{element "characterCountdown"}}{{/if}}
            {{/defineBlockBody}}

        </div>
    {{/defineBlockContainer}}

{{/defineBlock}}
