{{#defineBlock "ValidationMessages"}}
    {{#defineElement "serverError"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "blank"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineElement "tooLong"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/defineElement}}

    {{#defineBlockContainer}}
        <div class="{{blockName}}"{{extraAttributes}}>
            {{#defineBlockBody}}
                {{element "serverError"}}
                {{element "blank"}}
                {{element "tooLong"}}
            {{/defineBlockBody}}
        </div>
    {{/defineBlockContainer}}
{{/defineBlock}}
