{{#defineBlock "ArticleMain" extend="CreativeWorkMain.hbs"}}
    {{#defineBlockContainer}}
        <article class="{{blockName}}" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article"{{extraAttributes}}>
            <div class="{{blockName}}-container">
                {{element "meta"}}

                {{#defineBlockBody}}
                    {{element "breadcrumbs"}}
                    {{element "preHeadline"}}
                    {{element "headline"}}
                    {{element "subHeadline"}}
                    {{element "byline"}}

                    {{#element "lead"}}
                        <div class="{{elementName}}">{{this}}</div>
                    {{/element}}

                    {{#element "body"}}
                        <div class="{{elementName}}" itemprop="articleBody">{{this}}</div>
                    {{/element}}

                    {{element "tags"}}
                    {{element "sharebar"}}
                    {{element "comments"}}
                {{/defineBlockBody}}
            </div>
        </article>
    {{/defineBlockContainer}}
{{/defineBlock}}
