{{#defineBlock "CreativeWorkMain" extend="Main.hbs"}}
    {{#element "meta" noWith=true}}
        {{#with datePublished}}
            <meta itemprop="datePublished" content="{{this}}">
        {{/with}}

        {{#with dateModified}}
            <meta itemprop="dateModified" content="{{this}}">
        {{/with}}
    {{/element}}

    {{#element "preHeadline"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/element}}

    {{#element "headline"}}
        <div class="{{elementName}}" itemprop="headline">{{this}}</div>
    {{/element}}

    {{#element "subHeadline"}}
        <div class="{{elementName}}" itemprop="alternativeHeadline">{{this}}</div>
    {{/element}}

    {{#element "byline"}}
        <div class="{{elementName}}">{{this}}</div>
    {{/element}}
{{/defineBlock}}
