<div class="TwoColumn-container{{#if displayOptions.modifierClass}} {{modifierClass}}{{/if}}">

    <div class="TwoColumn-aboveColumns">
        {{#each aboveColumns}}
            {{render this}}
        {{/each}}
    </div>

	<div class="TwoColumn-row">

		<div class="TwoColumn-column-scrolling">
            {{#each main}}
                <div class="TwoColumn-item">
                    {{render this}}
                </div>
            {{/each}}
		</div>

		<div class="TwoColumn-column-fixed-wrap" data-bsp-toggle-item>
			<div class="TwoColumn-column-fixed toggle-item">

				<div class="TwoColumn-trigger-fixed toggle-trigger">
					<a class="toggle-trigger-link-out icon icon-angle-up" href="#">{{#if aside.openText}}{{this}}{{else}}Open{{/if}}</a>
					<a class="toggle-trigger-link-in  icon icon-angle-down" href="#">{{#if aside.closeText}}{{this}}{{else}}Close{{/if}}</a>
				</div>

                {{#each aside}}
                    <div class="TwoColumn-item">
                        {{render this}}
                    </div>
                {{/each}}
			</div>
		</div>

	</div>
</div>
