<div class="component gallery-module-component{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">
	{{#if heading}}
		<h3 class="component-title">{{render heading}}</h3>
	{{/if}}

	<div class="component-content">

		<div class="gallery-module gallery-module-{{#if displayOptions.theme}}{{displayOptions.theme}}{{/if}}" data-bsp-carousel data-bsp-carousel-options='{
			"theme" : "{{#if displayOptions.theme}}{{displayOptions.theme}}{{else}}{{#if displayOptions.dots}}carousel-dots{{/if}}{{/if}}",

            {{#if dynamicSlideLoad}}"dynamicSlideLoad" : true,{{/if}}

			"themeConfig" : {
	            "arrows" : {{#if displayOptions.arrows}}{{displayOptions.arrows}}{{else}}true{{/if}},
	            "dots" : {{#if displayOptions.dots}}true{{else}}false{{/if}}

	            {{#if displayOptions.horizontalSlides}},

                    {{#if displayOptions.slidesToScrollMedium}}
                        "slidesToScroll" : {{displayOptions.slidesToScrollMedium}},
                    {{else}}
                        "slidesToScroll" : 5,
                    {{/if}}

					{{#if displayOptions.slidesToShowMedium}}
					"slidesToShow" : {{displayOptions.slidesToShowMedium}},

					"responsive": [
				    {
				      "breakpoint": 768,
				      "settings": {
				        "slidesToShow": {{displayOptions.slidesToShowSmall}},
                        {{#if displayOptions.slidesToScrollSmall}}
                            "slidesToScroll" : {{displayOptions.slidesToScrollSmall}}
                        {{else}}
                            "slidesToScroll" : 2
                        {{/if}}
				      }
				    }]
				    {{else}}

                    "slidesToShow" : 5,
					"responsive": [
				    {
				      "breakpoint": 768,
				      "settings": {
				        "slidesToShow": 2,
                        {{#if displayOptions.slidesToScrollSmall}}
                            "slidesToScroll" : {{displayOptions.slidesToScrollSmall}}
                        {{else}}
                            "slidesToScroll" : 2
                        {{/if}}
				      }
				    }]
				    {{/if}}
			    {{/if}}
			    }
			}'>

			{{render gallerySlides}}
		</div>

	</div>

	{{#with cta}}
        {{render this}}
	{{/with}}
</div>
