{{!--
    Options:
    contentUrl - content to populate the interstitial
    countMessage - message to show during countdown, use {n} to represent the count number
    countDisable - set true if you don't want a counter at all, forces navEnabled and navVisible to true
    countDuration - seconds countdown should last
    countPosition - valid values are topLeft, topMiddle, topRight, bottomLeft, bottomMiddle and bottomRight
    navEnabled - if navigation is visible while the countdown is happening, should it be usable while the ad is playing? (does nothing if navVisible is false)
    navVisible - if true, show navigation while the countdown is happening
--}}
<div
    class="bsp-carousel-gallery-interstitial{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}"
    data-options=
    '
        {
            "contentUrl" : "{{contentUrl}}",
            "countDisable" : {{displayOptions.countDisable}},
            "countMessage" : "{{displayOptions.countMessage}}",
            "countDuration" : {{displayOptions.countDuration}},
            "countPosition" : "{{displayOptions.countPosition}}",
            "navEnabled" : {{displayOptions.navEnabled}},
            "navVisible" : {{displayOptions.navVisible}}
        }
    '
>
    <div class="bsp-carousel-gallery-interstitial-counter"></div>
    <div class="bsp-carousel-gallery-interstitial-content"></div>
</div>