<div class="component gallery-module-component{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}">
	{{#if heading}}
        <h3 class="component-title">{{render heading}}</h3>
    {{/if}}

	<div class="component-content">

		<div class="gallery-module {{#if displayOptions.textNav}}gallery-module-nav{{else}}gallery-module-thumbs{{/if}}" data-bsp-carousel-thumbnav data-bsp-carousel-thumbnav-options='{
            {{#if displayOptions.dynamicSlideLoad}}"dynamicSlideLoad" : true,{{/if}}
            {{#if displayOptions.dynamicEndpoint}}"dynamicEndpoint" : "{{displayOptions.dynamicEndpoint}}",{{/if}}
            {{#if displayOptions.dynamicCount}}"dynamicCount" : "{{displayOptions.dynamicCount}}",{{/if}}

            "stage" : {
                "themeConfig" : {
                    "dots": true,
                    "arrows" : true
                }
            },
            "nav": {
                "themeConfig" : {
                    "slidesToShow" : {{#if displayOptions.thumbnailsToShow}}{{displayOptions.thumbnailsToShow}}{{else}}4{{/if}},
                    "centerMode" : false
                }
            }}'>
			<div class="bsp-carousel-stage">

				{{render gallerySlides}}

			</div>
			<div class="bsp-carousel-nav">

                {{render galleryNavItems}}

			</div>
		</div>

	</div>

	{{#with cta}}
        {{render this}}
	{{/with}}
</div>
