{{!--
    Options:
    contentUrl - content to populate the interstitial
    countMessage - message to show during countdown, use {n} to represent the count number
    countDisable - set true if you don't want a counter at all, forces navEnabled and navVisible to true
    countDuration - seconds countdown should last
    countPosition - valid values are topLeft, topMiddle, topRight, bottomLeft, bottomMiddle and bottomRight
    navEnabled - if navigation is visible while the countdown is happening, should it be usable while the ad is playing? (does nothing if navVisible is false)
    navVisible - if true, show navigation while the countdown is happening
--}}
<div
    class="gallery-full-interstitial{{#if modifierClass}} {{modifierClass}}{{/if}}"
    data-options=
    '
        {
            "contentUrl" : "{{contentUrl}}",
            "countDisable" : {{countDisable}},
            "countMessage" : "{{countMessage}}",
            "countDuration" : {{countDuration}},
            "countPosition" : "{{countPosition}}",
            "navEnabled" : {{navEnabled}},
            "navVisible" : {{navVisible}}
        }
    '
>
    <div class="gallery-full-interstitial-counter"></div>
    <div class="gallery-full-interstitial-content"></div>
</div>