<div data-bsp-carousel-gallery data-bsp-carousel-gallery-options='{
    "stage" : {
        {{#if displayOptions.dynamicSlideLoad}}"dynamicSlideLoad" : true,{{/if}}
        {{#if displayOptions.dynamicEndpoint}}"dynamicEndpoint" : "{{displayOptions.dynamicEndpoint}}",{{/if}}
        {{#if displayOptions.dynamicCount}}"dynamicCount" : "{{displayOptions.dynamicCount}}",{{/if}}
        {{#if displayOptions.disableDeepLinking}}"deepLinking" : false,{{/if}}
        {{#if displayOptions.dynamicSlideLoad}}"deepLinking" : false,{{/if}}
        {{#if displayOptions.historyManagement}}"historyManagement" : true,{{/if}}
        "themeConfig":{
            "arrows" : true
                    }
    }}'

    {{#if displayOptions.modifierClass}} class="gallery-full-component {{displayOptions.modifierClass}}"{{/if}}>

    <div class="gallery-full-wrapper">

        {{#if heading}}
        <div class="gallery-full-header">
            <h2 class="gallery-full-title">
                {{{render heading}}}
            </h2>
            {{#if description}}
                <div class="gallery-full-desc">
                    {{render description}}
                </div>
            {{/if}}
        </div>
        {{/if}}

        <div class="bsp-carousel-gallery">
            <div class="bsp-carousel-stage">
                {{#each slides}}
                    {{render this}}
                {{/each}}
            </div>

            {{!-- leaving this here commented out in case we ever want to add thumbnail support back
            {{#if displayOptions.thumbnails}}
                <div class="bsp-carousel-nav">

                    {{#each slides}}
                        {{render this.thumbnail}}
                    {{/each}}

                </div>
            {{/if}}
            --}}
        </div>

        <div class="gallery-full-footer">

            {{!-- leaving this here commented out in case we ever want to add thumbnail support back
            {{#if displayOptions.thumbnails}}
            <div class="bsp-carousel-gallery-thumbs">
                <span class="icon icon-th-large" href=""></span>
                <span class="bsp-carousel-gallery-count"></span>
            </div>
            {{else}}
            --}}
            {{#if displayOptions.dynamicSlideLoad}}
            {{else}}
                <div class="bsp-carousel-gallery-count-wrapper">
                    <span class="bsp-carousel-gallery-count"></span>
                </div>
            {{/if}}
            {{!--{{/if}}--}}

            <div class="bsp-carousel-gallery-overlay-trigger">
                <span class="overlay-visible">{{render showLessText}}</span>
                <span class="overlay-hidden">{{render showMoreText}}</span>
            </div>

        </div>

    </div>
</div>
