<div class="component promo-component{{#if modifierClass}} {{modifierClass}}{{/if}}" {{#if options.loadMore}}data-bsp-ajax-links data-bsp-ajax-links-options='{"loadType":"loadMore"}'{{/if}}>
    {{#with heading}}
        <div class="component-title">{{render this}}</div>
    {{/with}}

    <div class="component-content">

        <div class="promo">
            <ul class="promo-list {{#if horizontalSplit}}row{{/if}}">
                {{#each listItems}}
                    <li class="{{#if ../horizontalSplit}}column-{{../horizontalSplit}}{{/if}}">

                        {{render this}}

                    </li>
                {{/each}}
            </ul>
        </div>

    </div>

    {{#with cta}}
        {{render this}}
    {{/with}}
</div>