<div class="component search-results-component{{#if displayOptions.modifierClass}} {{displayOptions.modifierClass}}{{/if}}" {{#if loadMore}}data-bsp-ajax-links data-bsp-ajax-links-options='{"loadType":"loadMore"}'{{/if}}>
    {{#with heading}}
        <div class="component-title">
            {{render this}}
            {{render searchResultsSort}}
        </div>

    {{/with}}

    <div class="component-content">
        <div class="search-results">
            {{render searchResults}}
        </div>
    </div>

    {{#with cta}}
        {{render this}}
    {{/with}}
</div>