<div class="component super-promo-component{{#if options.modifierClass}} {{options.modifierClass}}{{/if}}">
    {{#with heading}}
        <div class="component-title">{{render this}}</div>
    {{/with}}

    <div class="component-content">

        <div class="super-promo">
            <ul class="promo-list {{#if horizontalSplit}}row{{/if}}">
                {{#each listItems}}
                    <li class="{{#if ../horizontalSplit}}column-{{../horizontalSplit}}{{/if}}">

                        {{render this}}

                    </li>
                {{/each}}
            </ul>
        </div>

    </div>

    {{#with cta}}
        {{render this}}
    {{/with}}
</div>